# Data Exploration

In [1]:
#import relevant Packages
import pandas as pd
import numpy as np
from sportsipy.mlb.boxscore import Boxscore
from sportsipy.mlb.boxscore import Boxscores

In [5]:
# Try calling in some games from Boxscores
game_data = Boxscore('BOS/BOS201808020')
print(game_data.home_runs)  # Prints 15
print(game_data.away_runs)  # Prints 7
df = game_data.dataframe
from datetime import datetime
from sportsipy.mlb.boxscore import Boxscores

games = Boxscores(datetime(2017, 7, 17), datetime(2017, 7, 17))

15
7

In [6]:
games_dict=games.games

In [7]:
#Examine raw games dictionary
games_dict

{'7-17-2017': [{'boxscore': 'BAL/BAL201707170',
   'away_name': 'Texas Rangers',
   'away_abbr': 'TEX',
   'away_score': 1,
   'home_name': 'Baltimore Orioles',
   'home_abbr': 'BAL',
   'home_score': 3,
   'winning_name': 'Baltimore Orioles',
   'winning_abbr': 'BAL',
   'losing_name': 'Texas Rangers',
   'losing_abbr': 'TEX'},
  {'boxscore': 'PIT/PIT201707170',
   'away_name': 'Milwaukee Brewers',
   'away_abbr': 'MIL',
   'away_score': 2,
   'home_name': 'Pittsburgh Pirates',
   'home_abbr': 'PIT',
   'home_score': 4,
   'winning_name': 'Pittsburgh Pirates',
   'winning_abbr': 'PIT',
   'losing_name': 'Milwaukee Brewers',
   'losing_abbr': 'MIL'},
  {'boxscore': 'BOS/BOS201707170',
   'away_name': 'Toronto Blue Jays',
   'away_abbr': 'TOR',
   'away_score': 4,
   'home_name': 'Boston Red Sox',
   'home_abbr': 'BOS',
   'home_score': 3,
   'winning_name': 'Toronto Blue Jays',
   'winning_abbr': 'TOR',
   'losing_name': 'Boston Red Sox',
   'losing_abbr': 'BOS'},
  {'boxscore': 'MIA/MIA201707170',
   'away_name': 'Philadelphia Phillies',
   'away_abbr': 'PHI',
   'away_score': 5,
   'home_name': 'Miami Marlins',
   'home_abbr': 'MIA',
   'home_score': 6,
   'winning_name': 'Miami Marlins',
   'winning_abbr': 'MIA',
   'losing_name': 'Philadelphia Phillies',
   'losing_abbr': 'PHI'},
  {'boxscore': 'NYN/NYN201707170',
   'away_name': 'St. Louis Cardinals',
   'away_abbr': 'STL',
   'away_score': 6,
   'home_name': 'New York Mets',
   'home_abbr': 'NYM',
   'home_score': 3,
   'winning_name': 'St. Louis Cardinals',
   'winning_abbr': 'STL',
   'losing_name': 'New York Mets',
   'losing_abbr': 'NYM'},
  {'boxscore': 'ATL/ATL201707170',
   'away_name': 'Chicago Cubs',
   'away_abbr': 'CHC',
   'away_score': 4,
   'home_name': 'Atlanta Braves',
   'home_abbr': 'ATL',
   'home_score': 3,
   'winning_name': 'Chicago Cubs',
   'winning_abbr': 'CHC',
   'losing_name': 'Atlanta Braves',
   'losing_abbr': 'ATL'},
  {'boxscore': 'HOU/HOU201707170',
   'away_name': 'Seattle Mariners',
   'away_abbr': 'SEA',
   'away_score': 9,
   'home_name': 'Houston Astros',
   'home_abbr': 'HOU',
   'home_score': 7,
   'winning_name': 'Seattle Mariners',
   'winning_abbr': 'SEA',
   'losing_name': 'Houston Astros',
   'losing_abbr': 'HOU'},
  {'boxscore': 'MIN/MIN201707170',
   'away_name': 'New York Yankees',
   'away_abbr': 'NYY',
   'away_score': 2,
   'home_name': 'Minnesota Twins',
   'home_abbr': 'MIN',
   'home_score': 4,
   'winning_name': 'Minnesota Twins',
   'winning_abbr': 'MIN',
   'losing_name': 'New York Yankees',
   'losing_abbr': 'NYY'},
  {'boxscore': 'KCA/KCA201707170',
   'away_name': 'Detroit Tigers',
   'away_abbr': 'DET',
   'away_score': 10,
   'home_name': 'Kansas City Royals',
   'home_abbr': 'KCR',
   'home_score': 2,
   'winning_name': 'Detroit Tigers',
   'winning_abbr': 'DET',
   'losing_name': 'Kansas City Royals',
   'losing_abbr': 'KCR'},
  {'boxscore': 'COL/COL201707170',
   'away_name': 'San Diego Padres',
   'away_abbr': 'SDP',
   'away_score': 6,
   'home_name': 'Colorado Rockies',
   'home_abbr': 'COL',
   'home_score': 9,
   'winning_name': 'Colorado Rockies',
   'winning_abbr': 'COL',
   'losing_name': 'San Diego Padres',
   'losing_abbr': 'SDP'},
  {'boxscore': 'OAK/OAK201707170',
   'away_name': 'Tampa Bay Rays',
   'away_abbr': 'TBR',
   'away_score': 3,
   'home_name': 'Oakland Athletics',
   'home_abbr': 'OAK',
   'home_score': 2,
   'winning_name': 'Tampa Bay Rays',
   'winning_abbr': 'TBR',
   'losing_name': 'Oakland Athletics',
   'losing_abbr': 'OAK'},
  {'boxscore': 'SFN/SFN201707170',
   'away_name': 'Cleveland Indians',
   'away_abbr': 'CLE',
   'away_score': 5,
   'home_name': 'San Francisco Giants',
   'home_abbr': 'SFG',
   'home_score': 3,
   'winning_name': 'Cleveland Indians',
   'winning_abbr': 'CLE',
   'losing_name': 'San Francisco Giants',
   'losing_abbr': 'SFG'},
  {'boxscore': 'CIN/CIN201707170',
   'away_name': 'Washington Nationals',
   'away_abbr': 'WSN',
   'away_score': 6,
   'home_name': 'Cincinnati Reds',
   'home_abbr': 'CIN',
   'home_score': 1,
   'winning_name': 'Washington Nationals',
   'winning_abbr': 'WSN',
   'losing_name': 'Cincinnati Reds',
   'losing_abbr': 'CIN'}]}

In [8]:
# Function to return games in certain time range
def get_current_games(date,end_date,end_week=None):
    
    games = Boxscores(date,end_date)
    schedule = games.games

    game_days = []
    for day in schedule.values():
        for game in day:
            game_days.append(game['boxscore'])
            
    season_games = []

    for i in game_days:
        temp = Boxscore(i).dataframe
        season_games.append(temp)

    df = pd.concat(season_games, axis = 0).reset_index()

    return df

In [9]:
seasons18=get_current_games(datetime(2018, 3, 29),datetime(2018, 9, 30))

In [10]:
seasons18.head()

,index,date,time,venue,attendance,duration,time_of_day,winner,winning_name,winning_abbr,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
0,NYN/NYN201803290,"Thursday, March 29, 2018",1:16 p.m. Local,Citi Field,44189,3:01,Day,Home,New York Mets,NYM,...,30,12,14,10,0,54,0,0,-0.056,-0.0
1,BAL/BAL201803290,"Thursday, March 29, 2018",3:08 p.m. Local,Oriole Park at Camden Yards,45469,3:31,Day,Home,Baltimore Orioles,BAL,...,19,8,14,3,0,73,2,0,0.505,3.5
2,TEX/TEX201803290,"Thursday, March 29, 2018",2:40 p.m. Local,Globe Life Park in Arlington,47253,2:59,Day,Away,Houston Astros,HOU,...,19,5,17,6,0,50,1,0,-0.036,1.1
3,TOR/TOR201803290,"Thursday, March 29, 2018",4:09 p.m. Local,Rogers Centre,48115,2:51,Day,Away,New York Yankees,NYY,...,27,9,8,3,0,50,1,1,-0.171,-1.5
4,TBA/TBA201803290,"Thursday, March 29, 2018",4:00 p.m. Local,Tropicana Field,31042,3:00,Day,Home,Tampa Bay Rays,TBR,...,31,8,9,6,0,49,1,0,-0.053,0.5

In [8]:
#seasons18.to_csv('../data/reg_season18_raw.csv')

In [9]:
#df=pd.read_csv('../data/reg_season18_raw.csv')

# Data Exploration

In [11]:
df=seasons18

In [12]:
#Examine where we are at to begin with
df.head()

,index,date,time,venue,attendance,duration,time_of_day,winner,winning_name,winning_abbr,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
0,NYN/NYN201803290,"Thursday, March 29, 2018",1:16 p.m. Local,Citi Field,44189,3:01,Day,Home,New York Mets,NYM,...,30,12,14,10,0,54,0,0,-0.056,-0.0
1,BAL/BAL201803290,"Thursday, March 29, 2018",3:08 p.m. Local,Oriole Park at Camden Yards,45469,3:31,Day,Home,Baltimore Orioles,BAL,...,19,8,14,3,0,73,2,0,0.505,3.5
2,TEX/TEX201803290,"Thursday, March 29, 2018",2:40 p.m. Local,Globe Life Park in Arlington,47253,2:59,Day,Away,Houston Astros,HOU,...,19,5,17,6,0,50,1,0,-0.036,1.1
3,TOR/TOR201803290,"Thursday, March 29, 2018",4:09 p.m. Local,Rogers Centre,48115,2:51,Day,Away,New York Yankees,NYY,...,27,9,8,3,0,50,1,1,-0.171,-1.5
4,TBA/TBA201803290,"Thursday, March 29, 2018",4:00 p.m. Local,Tropicana Field,31042,3:00,Day,Home,Tampa Bay Rays,TBR,...,31,8,9,6,0,49,1,0,-0.053,0.5

In [13]:
df.columns

Index(['index', 'date', 'time', 'venue', 'attendance', 'duration',
       'time_of_day', 'winner', 'winning_name', 'winning_abbr', 'losing_name',
       'losing_abbr', 'away_at_bats', 'away_runs', 'away_hits', 'away_rbi',
       'away_earned_runs', 'away_bases_on_balls', 'away_strikeouts',
       'away_plate_appearances', 'away_batting_average',
       'away_on_base_percentage', 'away_slugging_percentage',
       'away_on_base_plus', 'away_pitches', 'away_strikes',
       'away_win_probability_for_offensive_player',
       'away_average_leverage_index', 'away_win_probability_added',
       'away_win_probability_subtracted', 'away_base_out_runs_added',
       'away_putouts', 'away_assists', 'away_innings_pitched',
       'away_home_runs', 'away_strikes_by_contact', 'away_strikes_swinging',
       'away_strikes_looking', 'away_grounded_balls', 'away_fly_balls',
       'away_line_drives', 'away_unknown_bat_type', 'away_game_score',
       'away_inherited_runners', 'away_inherited_score',
       'away_win_probability_by_pitcher', 'away_base_out_runs_saved',
       'home_at_bats', 'home_runs', 'home_hits', 'home_rbi',
       'home_earned_runs', 'home_bases_on_balls', 'home_strikeouts',
       'home_plate_appearances', 'home_batting_average',
       'home_on_base_percentage', 'home_slugging_percentage',
       'home_on_base_plus', 'home_pitches', 'home_strikes',
       'home_win_probability_for_offensive_player',
       'home_average_leverage_index', 'home_win_probability_added',
       'home_win_probability_subtracted', 'home_base_out_runs_added',
       'home_putouts', 'home_assists', 'home_innings_pitched',
       'home_home_runs', 'home_strikes_by_contact', 'home_strikes_swinging',
       'home_strikes_looking', 'home_grounded_balls', 'home_fly_balls',
       'home_line_drives', 'home_unknown_bat_type', 'home_game_score',
       'home_inherited_runners', 'home_inherited_score',
       'home_win_probability_by_pitcher', 'home_base_out_runs_saved'],
      dtype='object')

In [14]:
df.head()

,index,date,time,venue,attendance,duration,time_of_day,winner,winning_name,winning_abbr,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
0,NYN/NYN201803290,"Thursday, March 29, 2018",1:16 p.m. Local,Citi Field,44189,3:01,Day,Home,New York Mets,NYM,...,30,12,14,10,0,54,0,0,-0.056,-0.0
1,BAL/BAL201803290,"Thursday, March 29, 2018",3:08 p.m. Local,Oriole Park at Camden Yards,45469,3:31,Day,Home,Baltimore Orioles,BAL,...,19,8,14,3,0,73,2,0,0.505,3.5
2,TEX/TEX201803290,"Thursday, March 29, 2018",2:40 p.m. Local,Globe Life Park in Arlington,47253,2:59,Day,Away,Houston Astros,HOU,...,19,5,17,6,0,50,1,0,-0.036,1.1
3,TOR/TOR201803290,"Thursday, March 29, 2018",4:09 p.m. Local,Rogers Centre,48115,2:51,Day,Away,New York Yankees,NYY,...,27,9,8,3,0,50,1,1,-0.171,-1.5
4,TBA/TBA201803290,"Thursday, March 29, 2018",4:00 p.m. Local,Tropicana Field,31042,3:00,Day,Home,Tampa Bay Rays,TBR,...,31,8,9,6,0,49,1,0,-0.053,0.5

In [15]:
#set date to datetime
df.date=pd.to_datetime(df.date)

In [16]:
#Set date as index
df.set_index(df.date,inplace=True)

In [17]:
#Get rid of whitespace
for column in df.columns:
    column.strip()

In [18]:
#drop no longer needed columns
df.drop(['Unnamed: 0','index'],axis=1,inplace=True)

In [19]:
#drop date column as it is now in index
df.drop(['date'],axis=1,inplace=True)

In [20]:
df.head()

,time,venue,attendance,duration,time_of_day,winner,winning_name,winning_abbr,losing_name,losing_abbr,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
date,,,,,,,,,,,,,,,,,,,,,
2018-03-29,1:16 p.m. Local,Citi Field,44189,3:01,Day,Home,New York Mets,NYM,St. Louis Cardinals,STL,...,30,12,14,10,0,54,0,0,-0.056,-0.0
2018-03-29,3:08 p.m. Local,Oriole Park at Camden Yards,45469,3:31,Day,Home,Baltimore Orioles,BAL,Minnesota Twins,MIN,...,19,8,14,3,0,73,2,0,0.505,3.5
2018-03-29,2:40 p.m. Local,Globe Life Park in Arlington,47253,2:59,Day,Away,Houston Astros,HOU,Texas Rangers,TEX,...,19,5,17,6,0,50,1,0,-0.036,1.1
2018-03-29,4:09 p.m. Local,Rogers Centre,48115,2:51,Day,Away,New York Yankees,NYY,Toronto Blue Jays,TOR,...,27,9,8,3,0,50,1,1,-0.171,-1.5
2018-03-29,4:00 p.m. Local,Tropicana Field,31042,3:00,Day,Home,Tampa Bay Rays,TBR,Boston Red Sox,BOS,...,31,8,9,6,0,49,1,0,-0.053,0.5

In [21]:
#Limit data to 2016 MLB Season
df_18=df

In [22]:
#Put home and away winners in own dataframes
Home = df_18[(df_18['winner'] == 'Home')] 
Away= df_18[(df_18['winner'] == 'Away')]

In [23]:
#yankees home and away wins in own df as example of what will be done to every team
yankees_home_wins=Home[(Home['winning_abbr'] == 'NYY')]
yankees_away_wins=Away[(Away['winning_abbr']=='NYY')]

In [24]:
#yanks total wins concated together
yankees_wins=pd.concat([yankees_home_wins,yankees_away_wins])

In [25]:
#84 wins
yankees_wins.winning_abbr.value_counts()

NYY    100
Name: winning_abbr, dtype: int64

In [26]:
#Yanks home and away losses
yankees_home_loss=Home[(Home['losing_abbr'] == 'NYY')]
yankees_away_loss=Away[(Away['losing_abbr']=='NYY')]

In [27]:
#combine dataframes of yanks losses
yankees_loss=pd.concat([yankees_home_loss,yankees_away_loss])

In [28]:
#78 losses 
yankees_loss.losing_abbr.value_counts()

NYY    62
Name: losing_abbr, dtype: int64

In [29]:
#combine to make complete 2018 season
yankees_16=pd.concat([yankees_wins,yankees_loss])

In [30]:
yankees_16.head()

,time,venue,attendance,duration,time_of_day,winner,winning_name,winning_abbr,losing_name,losing_abbr,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
date,,,,,,,,,,,,,,,,,,,,,
2018-04-03,4:19 p.m. Local,Yankee Stadium III,46776,3:29,Day,Home,New York Yankees,NYY,Tampa Bay Rays,TBR,...,29,7,14,6,0,59,3,2,-0.038,0.6
2018-04-04,2:37 p.m. Local,Yankee Stadium III,40028,2:44,Day,Home,New York Yankees,NYY,Tampa Bay Rays,TBR,...,28,8,12,3,0,66,1,1,0.150,2.6
2018-04-07,1:09 p.m. Local,Yankee Stadium III,34388,3:03,Day,Home,New York Yankees,NYY,Baltimore Orioles,BAL,...,20,14,13,5,0,54,2,0,0.088,1.6
2018-04-16,6:39 p.m. Local,Yankee Stadium III,32525,3:38,Night,Home,New York Yankees,NYY,Miami Marlins,MIA,...,33,6,21,10,0,77,0,0,0.178,3.6
2018-04-19,6:38 p.m. Local,Yankee Stadium III,36665,3:00,Night,Home,New York Yankees,NYY,Toronto Blue Jays,TOR,...,23,16,11,3,0,51,1,0,0.406,1.6

### Team Reg Season Function walkthrough outside to find potential bugs

In [31]:
#Rename columns to avoid deletetion later
df_18=df_18.rename(columns={'home_home_runs':'home_HR','away_home_runs':'away_HR'})

In [32]:
df_18.columns

Index(['time', 'venue', 'attendance', 'duration', 'time_of_day', 'winner',
       'winning_name', 'winning_abbr', 'losing_name', 'losing_abbr',
       'away_at_bats', 'away_runs', 'away_hits', 'away_rbi',
       'away_earned_runs', 'away_bases_on_balls', 'away_strikeouts',
       'away_plate_appearances', 'away_batting_average',
       'away_on_base_percentage', 'away_slugging_percentage',
       'away_on_base_plus', 'away_pitches', 'away_strikes',
       'away_win_probability_for_offensive_player',
       'away_average_leverage_index', 'away_win_probability_added',
       'away_win_probability_subtracted', 'away_base_out_runs_added',
       'away_putouts', 'away_assists', 'away_innings_pitched', 'away_HR',
       'away_strikes_by_contact', 'away_strikes_swinging',
       'away_strikes_looking', 'away_grounded_balls', 'away_fly_balls',
       'away_line_drives', 'away_unknown_bat_type', 'away_game_score',
       'away_inherited_runners', 'away_inherited_score',
       'away_win_probability_by_pitcher', 'away_base_out_runs_saved',
       'home_at_bats', 'home_runs', 'home_hits', 'home_rbi',
       'home_earned_runs', 'home_bases_on_balls', 'home_strikeouts',
       'home_plate_appearances', 'home_batting_average',
       'home_on_base_percentage', 'home_slugging_percentage',
       'home_on_base_plus', 'home_pitches', 'home_strikes',
       'home_win_probability_for_offensive_player',
       'home_average_leverage_index', 'home_win_probability_added',
       'home_win_probability_subtracted', 'home_base_out_runs_added',
       'home_putouts', 'home_assists', 'home_innings_pitched', 'home_HR',
       'home_strikes_by_contact', 'home_strikes_swinging',
       'home_strikes_looking', 'home_grounded_balls', 'home_fly_balls',
       'home_line_drives', 'home_unknown_bat_type', 'home_game_score',
       'home_inherited_runners', 'home_inherited_score',
       'home_win_probability_by_pitcher', 'home_base_out_runs_saved'],
      dtype='object')

In [33]:
#Isolate Home winners and away winners into their own df
Home = df_18[(df_18['winner'] == 'Home')] 
Away= df_18[(df_18['winner'] == 'Away')]

In [34]:
#Yanks home wins and losses isolated then combined to only have their stats from those games
home_wins=Home[(Home['winning_abbr'] == 'NYY')]
home_loss=Away[(Away['losing_abbr'] == 'NYY')]
home_games= pd.concat([home_wins,home_loss])
home_offense = home_games.filter(like = 'home')

In [35]:
#Yanks away wins and losses isolated then combined to only have their stats from those games
away_wins=Away[(Away['winning_abbr']=='NYY')]
away_loss=Home[(Home['losing_abbr']=='NYY')]
away_games= pd.concat([away_wins,away_loss])
away_offense = away_games.filter(like = 'away')

In [36]:
#Get rid of the words home/away
home_offense.columns = home_offense.columns.str.replace('home_','')
away_offense.columns = away_offense.columns.str.replace('away_','')

In [35]:
#home_offense.drop('away_runs',axis=1,inplace=True)

In [37]:
#Check to make sure that the columns are the same for both data frames
home_offense.columns==away_offense.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [38]:
#Combine dataframes to make one dataframe of all this teams stats
team_offense = pd.concat([home_offense, away_offense])

In [39]:
#From the teams given home games take the stats of the team they played against
home_games_opponents = home_games.filter(like = 'away')
away_games_opponents = away_games.filter(like = 'home')

In [40]:
#Get rid of the words home/away
home_games_opponents.columns = home_games_opponents.columns.str.replace('away_','')
away_games_opponents.columns = away_games_opponents.columns.str.replace('home_','')

In [41]:
#Combine to make dataframe of stats from all opponents 
team_opponents= pd.concat([home_games_opponents,away_games_opponents])

In [42]:
#Combine theirs and the opponents to make one full data frame for the team, put an Opp_ 
#prefix in front of opponent stats
team_full_check = pd.concat([team_offense, team_opponents.add_prefix('Opp_')], axis = 1)

In [43]:
team_full_check.head()

,at_bats,runs,hits,rbi,earned_runs,bases_on_balls,strikeouts,plate_appearances,batting_average,on_base_percentage,...,Opp_strikes_looking,Opp_grounded_balls,Opp_fly_balls,Opp_line_drives,Opp_unknown_bat_type,Opp_game_score,Opp_inherited_runners,Opp_inherited_score,Opp_win_probability_by_pitcher,Opp_base_out_runs_saved
date,,,,,,,,,,,,,,,,,,,,,
2018-04-03,34,11,11,10,11.25,6,14,41,0.324,0.425,...,24,10,12,5,0,44,2,2,-0.538,-6.9
2018-04-04,31,7,7,7,7.88,3,11,34,0.226,0.294,...,23,14,8,2,0,34,1,1,-0.349,-2.9
2018-04-07,29,8,11,8,9.00,7,3,37,0.379,0.486,...,26,15,9,5,0,31,2,0,-0.411,-3.9
2018-04-16,38,12,15,12,13.50,8,11,47,0.395,0.511,...,35,6,14,5,0,25,4,0,-0.321,-7.9
2018-04-19,30,4,8,4,4.50,4,3,34,0.267,0.353,...,30,13,12,4,0,46,0,0,-0.094,0.1

I need to create a column that has the teams name in it all the way down, below I will try and make this column using the LAD as my example

In [60]:
#assumed 162 games played
#LAD=(('LAD',)*162)

In [61]:
# d = {'TEAM':LAD}
# ser = pd.Series(data=d, index=['TEAM'])

In [62]:
#create name column and fill it with the new LAD variable made above
#team_full_check['name']= LAD

In [44]:
team_full_check = team_full_check.assign(name='LAD')

In [45]:
team_full_check = team_full_check.groupby('name').mean().reset_index()

In [46]:
team_full_check

,name,at_bats,runs,hits,rbi,earned_runs,bases_on_balls,strikeouts,plate_appearances,batting_average,...,Opp_strikes_by_contact,Opp_strikes_swinging,Opp_strikes_looking,Opp_grounded_balls,Opp_fly_balls,Opp_line_drives,Opp_unknown_bat_type,Opp_game_score,Opp_win_probability_by_pitcher,Opp_base_out_runs_saved
0,LAD,34.04321,5.253086,8.481481,5.067901,5.039198,3.858025,8.771605,38.709877,0.2445,...,52.91358,18.820988,26.407407,10.82716,13.592593,6.0,0.0,48.0,-0.062389,-0.735185

### Build reusable Function

In [50]:
def team_regular_season(df,team,average=True,num=162):
    #Set year range for what games you want to access
    #Rename columns to avoid deletetion later
    df=df.rename(columns={'home_home_runs':'home_HR','away_home_runs':'away_HR'})
    
        #Get all the home winner and away winner games alone
    Home = df[(df['winner'] == 'Home')] 
    Away= df[(df['winner'] == 'Away')]
    
        #Get games where the team was the home team
    home_wins=Home[(Home['winning_abbr'] == team)]
    home_loss=Away[(Away['losing_abbr'] == team)]
    home_games= pd.concat([home_wins,home_loss])
    home_offense = home_games.filter(like = 'home')
    
      #Get games where the team was the away team
    away_wins=Away[(Away['winning_abbr']==team)]
    away_loss=Home[(Home['losing_abbr']==team)]
    away_games= pd.concat([away_wins,away_loss])
    away_offense = away_games.filter(like = 'away')
    
        # split the dataframes to only have the statistics of the given team
    home_offense.columns = home_offense.columns.str.replace('home_','')
    away_offense.columns = away_offense.columns.str.replace('away_','')
    
    #combine offensive stats into one df
    team_offense = pd.concat([home_offense, away_offense])
    
        # create oppposing team statistics from the given games
    home_games_opponents = home_games.filter(like = 'away')
    away_games_opponents = away_games.filter(like = 'home')
    
        # rename the columns from the opponent statistics dataframes
    home_games_opponents.columns = home_games_opponents.columns.str.replace('away_','')
    away_games_opponents.columns = away_games_opponents.columns.str.replace('home_','')
    
    team_opponents= pd.concat([home_games_opponents,away_games_opponents])
    
        # concat the team stats and the opponent stats to create a full picture of the team's season
    team_full = pd.concat([team_offense, team_opponents.add_prefix('Opp_')], axis = 1)
    team_full = team_full.assign(name=team)
    
    # Certain teams only played 161 games this season and therefor need different number
#     club_161=['DET','CLE','MIA','ATL']
#     if team in club_161:
#         num=161
#     else:
#         num=162
#     add= ((team,)*num)
#     team_full['name']= add
    
    
        # return either the season averages or the game by game statistics
    if average:
            team_full = team_full.groupby('name').mean().reset_index()
    
    
    return team_full

In [51]:
#Check unique names
df.winning_abbr.unique()

array(['NYM', 'BAL', 'HOU', 'NYY', 'TBR', 'OAK', 'ATL', 'MIL', 'CHW',
       'SFG', 'ARI', 'SEA', 'CHC', 'PIT', 'WSN', 'MIA', 'BOS', 'PHI',
       'TEX', 'LAA', 'TOR', 'CLE', 'MIN', 'COL', 'LAD', 'STL', 'DET',
       'CIN', 'KCR', 'SDP'], dtype=object)

In [52]:
#Below examined that each teams abbr was working in the function including the 161 teams
dodgers_18=team_regular_season(df,'LAD')

In [53]:
dodgers_18

,name,at_bats,runs,hits,rbi,earned_runs,bases_on_balls,strikeouts,plate_appearances,batting_average,...,Opp_strikes_by_contact,Opp_strikes_swinging,Opp_strikes_looking,Opp_grounded_balls,Opp_fly_balls,Opp_line_drives,Opp_unknown_bat_type,Opp_game_score,Opp_win_probability_by_pitcher,Opp_base_out_runs_saved
0,LAD,34.191358,4.932099,8.549383,4.635802,4.719938,3.981481,8.802469,39.030864,0.241938,...,53.54321,17.598765,24.895062,11.567901,13.283951,5.975309,0.0,50.604938,-0.013623,-0.604938

### Single Game Function Walkthrough to find/fix bugs

In [54]:
#create regular seasons using yankees and mets as our example
yanks_18=team_regular_season(df,'NYY')
mets_18=team_regular_season(df,'NYM')

In [55]:
#Concat them as if they are playing against one another 
pd.concat([yanks_18, mets_18])

,name,at_bats,runs,hits,rbi,earned_runs,bases_on_balls,strikeouts,plate_appearances,batting_average,...,Opp_strikes_by_contact,Opp_strikes_swinging,Opp_strikes_looking,Opp_grounded_balls,Opp_fly_balls,Opp_line_drives,Opp_unknown_bat_type,Opp_game_score,Opp_win_probability_by_pitcher,Opp_base_out_runs_saved
0,NYY,34.043210,5.253086,8.481481,5.067901,5.039198,3.858025,8.771605,38.709877,0.244500,...,52.913580,18.820988,26.407407,10.827160,13.592593,6.000000,0.0,48.000000,-0.062389,-0.735185
0,NYM,33.753086,4.172840,7.913580,4.006173,3.957531,3.493827,8.666667,38.129630,0.227963,...,54.444444,16.450617,25.179012,11.395062,14.432099,6.216049,0.0,54.006173,0.045142,0.058025

In [56]:
#Try this as we may prefer it to all be in one row
pd.concat([yanks_18.add_prefix('H_'), mets_18.add_prefix('A_')], axis = 1)

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_strikes_by_contact,A_Opp_strikes_swinging,A_Opp_strikes_looking,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved
0,NYY,34.04321,5.253086,8.481481,5.067901,5.039198,3.858025,8.771605,38.709877,0.2445,...,54.444444,16.450617,25.179012,11.395062,14.432099,6.216049,0.0,54.006173,0.045142,0.058025

### Build Reusable Function

In [57]:
def single_game(team1_name, team2_name,df=df):
    
    # from the Team abbreviations get a dataframe with the average seasonlong team statistics.
    team1 = team_regular_season(df,team1_name)
    team2 = team_regular_season(df,team2_name)
    
    #make the single game by concating those dataframes
    game = pd.concat([team1.add_prefix('H_'), team2.add_prefix('A_')], axis = 1)
    
    return game

In [58]:
#test it using subway series again
subway=single_game('NYY','NYM',df)
subway

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_strikes_by_contact,A_Opp_strikes_swinging,A_Opp_strikes_looking,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved
0,NYY,34.04321,5.253086,8.481481,5.067901,5.039198,3.858025,8.771605,38.709877,0.2445,...,54.444444,16.450617,25.179012,11.395062,14.432099,6.216049,0.0,54.006173,0.045142,0.058025

###  Create Season Function Walkthrough to Find Bugs

In [128]:
#df_16.drop(['index','level_0'],axis=1,inplace=True)

In [60]:
#Reset the index
df_18.reset_index(inplace=True)

In the cells below I will try and alter the dataframes so rather than tellin us the winning and losing name it will return the names of the home or away team

In [61]:
#Get home winners and Away winners in their own dataframe
Home = df_18[(df_18['winner'] == 'Home')] 
Away= df_18[(df_18['winner'] == 'Away')]

In [62]:
#Rename columns in the home win from winner and loser to home and away
Home=Home.rename(columns={'winning_abbr':'home_abbr','winning_name':'home_name','losing_name':'away_name',
                         'losing_abbr':'away_abbr'})

In [63]:
#Rename columns in the away win from winner and loser to home and away
Away= Away.rename(columns={'winning_abbr':'away_abbr','winning_name':'away_name','losing_name':'home_name',
                         'losing_abbr':'home_abbr'})

In [64]:
#Concat these to make season_df now the same but with these new column names
df_18= pd.concat([Home,Away])

In [65]:
#Get Home and away alone once again
Home = df_18[(df_18['winner'] == 'Home')] 
Away= df_18[(df_18['winner'] == 'Away')]

In [66]:
#Create a winning abbreviation column
Home['winning_abbr']= Home['home_abbr']
Away['winning_abbr']= Away['away_abbr']

<ipython-input-66-12da05963abd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Home['winning_abbr']= Home['home_abbr']
<ipython-input-66-12da05963abd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Away['winning_abbr']= Away['away_abbr']

In [67]:
#Concat to update season_df
df_18=pd.concat([Home,Away])

In [68]:
#make it sorted in order of date
df_18=df_18.sort_values('date')

In [69]:
df_18.head()

,date,time,venue,attendance,duration,time_of_day,winner,home_name,home_abbr,away_name,...,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved,winning_abbr
0,2018-03-29,1:16 p.m. Local,Citi Field,44189,3:01,Day,Home,New York Mets,NYM,St. Louis Cardinals,...,12,14,10,0,54,0,0,-0.056,-0.0,NYM
2,2018-03-29,2:40 p.m. Local,Globe Life Park in Arlington,47253,2:59,Day,Away,Texas Rangers,TEX,Houston Astros,...,5,17,6,0,50,1,0,-0.036,1.1,HOU
12,2018-03-29,12:43 p.m. Local,Marlins Park,32151,3:18,Day,Away,Miami Marlins,MIA,Chicago Cubs,...,14,13,6,0,28,2,2,-0.495,-3.9,CHC
8,2018-03-29,3:16 p.m. Local,Kauffman Stadium,36517,3:26,Day,Away,Kansas City Royals,KCR,Chicago White Sox,...,14,20,10,0,31,6,2,-0.606,-9.4,CHW
7,2018-03-29,1:12 p.m. Local,Petco Park,44649,3:36,Day,Away,San Diego Padres,SDP,Milwaukee Brewers,...,15,10,1,0,64,2,0,0.228,3.4,MIL

In [70]:
# create a list with the two teams, home team always first, the season, and the day number of the game
matchups = list(zip(df_18.home_abbr, df_18.away_abbr, df_18.date, df_18.winning_abbr))

In [71]:
#Check matchups
matchups[-2]

('CIN', 'PIT', Timestamp('2018-09-30 00:00:00'), 'PIT')

In [72]:
#empty season_games list
season_games = []

In [73]:
#loop through matchups and create single games for each matchup using that function, then append to season games
for team in matchups:
        game = single_game(team[0], team[1],df)
        season_games.append(game)

In [74]:
#create df_prep as a example for what will hopefully happen in a function
df_prep = pd.concat(season_games, axis = 0)

In [75]:
#reset_index
df_prep.reset_index(inplace = True, drop = True)

In [76]:
df_prep

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_strikes_by_contact,A_Opp_strikes_swinging,A_Opp_strikes_looking,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved
0,NYM,33.753086,4.172840,7.913580,4.006173,3.957531,3.493827,8.666667,38.129630,0.227963,...,54.679012,16.104938,25.104938,12.265432,14.135802,6.796296,0.012346,50.376543,-0.040932,-0.425309
1,TEX,33.660494,4.549383,8.074074,4.296296,4.298580,3.425926,9.160494,38.043210,0.234926,...,50.141975,18.549383,25.808642,10.456790,12.543210,5.716049,0.006173,48.870370,-0.019704,-0.457407
2,MIA,34.086957,3.658385,8.093168,3.440994,3.325901,2.826087,8.596273,37.782609,0.232317,...,53.302469,15.185185,26.271605,12.117284,13.913580,6.697531,0.012346,51.425926,-0.004728,-0.308642
3,KCR,33.981481,3.938272,8.333333,3.740741,3.663580,2.635802,8.086420,37.425926,0.241000,...,54.765432,15.055556,24.962963,11.197531,15.561728,6.635802,0.012346,54.080247,0.056796,0.490741
4,SDP,33.864198,3.808642,7.956790,3.598765,3.550988,2.907407,9.401235,37.401235,0.231272,...,52.672840,16.623457,25.216049,11.290123,13.728395,6.413580,0.012346,50.697531,-0.045049,-0.317284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,NYM,33.753086,4.172840,7.913580,4.006173,3.957531,3.493827,8.666667,38.129630,0.227963,...,56.068323,15.161491,24.695652,11.341615,15.447205,6.708075,0.000000,53.944099,0.065081,0.559006
2425,SDP,33.864198,3.808642,7.956790,3.598765,3.550988,2.907407,9.401235,37.401235,0.231272,...,51.444444,17.012346,26.265432,12.364198,13.030864,6.129630,0.000000,51.487654,0.015691,0.197531
2426,SEA,34.030864,4.179012,8.654321,3.975309,3.967778,2.654321,7.537037,37.574074,0.248759,...,54.469136,13.351852,24.629630,12.401235,15.654321,7.148148,0.012346,52.074074,0.044549,0.182099
2427,CIN,34.148148,4.296296,8.666667,4.104938,4.181481,3.450617,8.493827,38.518519,0.248623,...,54.118012,15.583851,23.987578,12.024845,14.366460,6.639752,0.000000,51.310559,0.006037,-0.067702
2428,KCR,33.981481,3.938272,8.333333,3.740741,3.663580,2.635802,8.086420,37.425926,0.241000,...,51.734568,17.672840,25.604938,11.006173,14.055556,6.185185,0.006173,48.567901,0.005537,-0.463580

In [100]:
df_prep.drop(['H_median_odds','A_median_odds'],axis=1,inplace=True)

In [77]:
#Create new column where it will have a 1 if home team won and 0 if away team won
df_prep['home_win'] = np.where(df_18.home_abbr ==df_18.winning_abbr,
                  [1],
                  [0])

In [163]:
#season_df['home_win'] = np.where(season_df.home_name == season_df.winning_abbr,1,0)

In [78]:
df_prep

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_strikes_swinging,A_Opp_strikes_looking,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,NYM,33.753086,4.172840,7.913580,4.006173,3.957531,3.493827,8.666667,38.129630,0.227963,...,16.104938,25.104938,12.265432,14.135802,6.796296,0.012346,50.376543,-0.040932,-0.425309,1
1,TEX,33.660494,4.549383,8.074074,4.296296,4.298580,3.425926,9.160494,38.043210,0.234926,...,18.549383,25.808642,10.456790,12.543210,5.716049,0.006173,48.870370,-0.019704,-0.457407,0
2,MIA,34.086957,3.658385,8.093168,3.440994,3.325901,2.826087,8.596273,37.782609,0.232317,...,15.185185,26.271605,12.117284,13.913580,6.697531,0.012346,51.425926,-0.004728,-0.308642,0
3,KCR,33.981481,3.938272,8.333333,3.740741,3.663580,2.635802,8.086420,37.425926,0.241000,...,15.055556,24.962963,11.197531,15.561728,6.635802,0.012346,54.080247,0.056796,0.490741,0
4,SDP,33.864198,3.808642,7.956790,3.598765,3.550988,2.907407,9.401235,37.401235,0.231272,...,16.623457,25.216049,11.290123,13.728395,6.413580,0.012346,50.697531,-0.045049,-0.317284,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,NYM,33.753086,4.172840,7.913580,4.006173,3.957531,3.493827,8.666667,38.129630,0.227963,...,15.161491,24.695652,11.341615,15.447205,6.708075,0.000000,53.944099,0.065081,0.559006,1
2425,SDP,33.864198,3.808642,7.956790,3.598765,3.550988,2.907407,9.401235,37.401235,0.231272,...,17.012346,26.265432,12.364198,13.030864,6.129630,0.000000,51.487654,0.015691,0.197531,1
2426,SEA,34.030864,4.179012,8.654321,3.975309,3.967778,2.654321,7.537037,37.574074,0.248759,...,13.351852,24.629630,12.401235,15.654321,7.148148,0.012346,52.074074,0.044549,0.182099,1
2427,CIN,34.148148,4.296296,8.666667,4.104938,4.181481,3.450617,8.493827,38.518519,0.248623,...,15.583851,23.987578,12.024845,14.366460,6.639752,0.000000,51.310559,0.006037,-0.067702,0
2428,KCR,33.981481,3.938272,8.333333,3.740741,3.663580,2.635802,8.086420,37.425926,0.241000,...,17.672840,25.604938,11.006173,14.055556,6.185185,0.006173,48.567901,0.005537,-0.463580,0

In [79]:
#Examine our new column
df_prep.home_win.value_counts(normalize=True)

1    0.527789
0    0.472211
Name: home_win, dtype: float64

In [80]:
df_prep

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_strikes_swinging,A_Opp_strikes_looking,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,NYM,33.753086,4.172840,7.913580,4.006173,3.957531,3.493827,8.666667,38.129630,0.227963,...,16.104938,25.104938,12.265432,14.135802,6.796296,0.012346,50.376543,-0.040932,-0.425309,1
1,TEX,33.660494,4.549383,8.074074,4.296296,4.298580,3.425926,9.160494,38.043210,0.234926,...,18.549383,25.808642,10.456790,12.543210,5.716049,0.006173,48.870370,-0.019704,-0.457407,0
2,MIA,34.086957,3.658385,8.093168,3.440994,3.325901,2.826087,8.596273,37.782609,0.232317,...,15.185185,26.271605,12.117284,13.913580,6.697531,0.012346,51.425926,-0.004728,-0.308642,0
3,KCR,33.981481,3.938272,8.333333,3.740741,3.663580,2.635802,8.086420,37.425926,0.241000,...,15.055556,24.962963,11.197531,15.561728,6.635802,0.012346,54.080247,0.056796,0.490741,0
4,SDP,33.864198,3.808642,7.956790,3.598765,3.550988,2.907407,9.401235,37.401235,0.231272,...,16.623457,25.216049,11.290123,13.728395,6.413580,0.012346,50.697531,-0.045049,-0.317284,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,NYM,33.753086,4.172840,7.913580,4.006173,3.957531,3.493827,8.666667,38.129630,0.227963,...,15.161491,24.695652,11.341615,15.447205,6.708075,0.000000,53.944099,0.065081,0.559006,1
2425,SDP,33.864198,3.808642,7.956790,3.598765,3.550988,2.907407,9.401235,37.401235,0.231272,...,17.012346,26.265432,12.364198,13.030864,6.129630,0.000000,51.487654,0.015691,0.197531,1
2426,SEA,34.030864,4.179012,8.654321,3.975309,3.967778,2.654321,7.537037,37.574074,0.248759,...,13.351852,24.629630,12.401235,15.654321,7.148148,0.012346,52.074074,0.044549,0.182099,1
2427,CIN,34.148148,4.296296,8.666667,4.104938,4.181481,3.450617,8.493827,38.518519,0.248623,...,15.583851,23.987578,12.024845,14.366460,6.639752,0.000000,51.310559,0.006037,-0.067702,0
2428,KCR,33.981481,3.938272,8.333333,3.740741,3.663580,2.635802,8.086420,37.425926,0.241000,...,17.672840,25.604938,11.006173,14.055556,6.185185,0.006173,48.567901,0.005537,-0.463580,0


***

In [187]:
#df_16.drop(['index'],axis=1,inplace=True)

In [121]:
#df_16.set_index('date',inplace=True)

In [81]:
df_18.head()

,date,time,venue,attendance,duration,time_of_day,winner,home_name,home_abbr,away_name,...,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved,winning_abbr
0,2018-03-29,1:16 p.m. Local,Citi Field,44189,3:01,Day,Home,New York Mets,NYM,St. Louis Cardinals,...,12,14,10,0,54,0,0,-0.056,-0.0,NYM
2,2018-03-29,2:40 p.m. Local,Globe Life Park in Arlington,47253,2:59,Day,Away,Texas Rangers,TEX,Houston Astros,...,5,17,6,0,50,1,0,-0.036,1.1,HOU
12,2018-03-29,12:43 p.m. Local,Marlins Park,32151,3:18,Day,Away,Miami Marlins,MIA,Chicago Cubs,...,14,13,6,0,28,2,2,-0.495,-3.9,CHC
8,2018-03-29,3:16 p.m. Local,Kauffman Stadium,36517,3:26,Day,Away,Kansas City Royals,KCR,Chicago White Sox,...,14,20,10,0,31,6,2,-0.606,-9.4,CHW
7,2018-03-29,1:12 p.m. Local,Petco Park,44649,3:36,Day,Away,San Diego Padres,SDP,Milwaukee Brewers,...,15,10,1,0,64,2,0,0.228,3.4,MIL

In [82]:
df_18.set_index('date',inplace=True)

### Create Season Dataframe

In [83]:
def create_season_df(df):
    
    #Reset the index
    df.reset_index(inplace=True)
  
    # create a DataFrame for the season we are looking for
    # season_df for whatever season you are looking for
    #season_df = df[df['date'] >= date]
    #reset index
    #season_df.reset_index(inplace = True)
    
    #Get home winners and Away winners in their own dataframe
    Home = df[(df['winner'] == 'Home')] 
    Away= df[(df['winner'] == 'Away')]
    
    #Rename columns in the home win from winner and loser to home and away
    Home=Home.rename(columns={'winning_abbr':'home_abbr','winning_name':'home_name','losing_name':'away_name',
                         'losing_abbr':'away_abbr'})
    
    #Rename columns in the away win from winner and loser to home and away
    Away= Away.rename(columns={'winning_abbr':'away_abbr','winning_name':'away_name','losing_name':'home_name',
                         'losing_abbr':'home_abbr'})
    
    #Concat these to make season_df now the same but with these new column names
    df= pd.concat([Home,Away])
    
    #Get Home and away alone once again
    Home = df[(df['winner'] == 'Home')] 
    Away= df[(df['winner'] == 'Away')]
    
    #Create a winning abbreviation column
    Home['winning_abbr']= Home['home_abbr']
    Away['winning_abbr']= Away['away_abbr']
    
    #Concat to update season_df
    df=pd.concat([Home,Away])
    
    #order it by date again
    df=df.sort_values('date')
    
    
    # create a list with the two teams, home team always first, the season, and the day number of the game
    matchups = list(zip(df.home_abbr, df.away_abbr, df.date, df.winning_abbr))
    
    season_games = [] 

    #loop through matchups and create single games for each matchup using that function, then append to season games
    for team in matchups:
        game = single_game(team[0], team[1],df)
        season_games.append(game)
    
    # from the season games list concatenate all the outputted DataFrames and insert the location
    # of the winner (home(1), away(0))
    df = pd.concat(season_games, axis = 0)
    #reset_index
    df.reset_index(inplace = True, drop = True)
    #Create new column where it will have a 1 if home team won and 0 if away team won
    df['home_win'] = np.where(df.home_abbr ==df.winning_abbr,
                  [1],
                  [0])
                       
    return df

In [85]:
season_2018=df_prep

In [86]:
season_2018.head(10)

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_strikes_swinging,A_Opp_strikes_looking,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,NYM,33.753086,4.172840,7.913580,4.006173,3.957531,3.493827,8.666667,38.129630,0.227963,...,16.104938,25.104938,12.265432,14.135802,6.796296,0.012346,50.376543,-0.040932,-0.425309,1
1,TEX,33.660494,4.549383,8.074074,4.296296,4.298580,3.425926,9.160494,38.043210,0.234926,...,18.549383,25.808642,10.456790,12.543210,5.716049,0.006173,48.870370,-0.019704,-0.457407,0
2,MIA,34.086957,3.658385,8.093168,3.440994,3.325901,2.826087,8.596273,37.782609,0.232317,...,15.185185,26.271605,12.117284,13.913580,6.697531,0.012346,51.425926,-0.004728,-0.308642,0
3,KCR,33.981481,3.938272,8.333333,3.740741,3.663580,2.635802,8.086420,37.425926,0.241000,...,15.055556,24.962963,11.197531,15.561728,6.635802,0.012346,54.080247,0.056796,0.490741,0
4,SDP,33.864198,3.808642,7.956790,3.598765,3.550988,2.907407,9.401235,37.401235,0.231272,...,16.623457,25.216049,11.290123,13.728395,6.413580,0.012346,50.697531,-0.045049,-0.317284,0
5,TOR,33.808642,4.376543,8.246914,4.197531,4.210185,3.080247,8.561728,37.506173,0.238000,...,18.820988,26.407407,10.827160,13.592593,6.000000,0.000000,48.000000,-0.062389,-0.735185,0
6,LAD,34.191358,4.932099,8.549383,4.635802,4.719938,3.981481,8.802469,39.030864,0.241938,...,14.530864,25.543210,12.364198,14.543210,6.888889,0.000000,53.870370,0.054296,0.505556,0
7,BAL,33.993827,3.839506,8.129630,3.660494,3.702654,2.604938,8.716049,37.246914,0.233407,...,16.802469,24.141975,11.320988,14.962963,6.740741,0.006173,50.623457,0.004309,-0.002469,1
8,ARI,33.703704,4.277778,7.919753,4.061728,4.071728,3.456790,9.012346,38.006173,0.230827,...,16.265432,25.327160,12.000000,13.604938,6.567901,0.006173,49.759259,-0.038426,-0.208642,1
9,ATL,34.456790,4.685185,8.845679,4.425926,4.429321,3.154321,7.962963,38.586420,0.251259,...,17.043210,25.555556,11.975309,13.425926,6.129630,0.006173,52.376543,0.034377,0.162963,1

In [87]:
season_2018.to_csv('../data/Season_2018.csv')