In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('data/Season_2016.csv').drop(['Unnamed: 0'],axis=1)

In [6]:
df

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,PIT,34.209877,4.500000,8.802469,4.296296,4.191914,3.462963,8.234568,38.648148,0.252074,...,13.777778,13.111111,6.827160,0.006173,51.438272,1.440994,0.515528,-0.040438,-0.433333,1
1,KCR,34.271605,4.166667,8.950617,3.950617,3.969568,2.358025,7.555556,37.358025,0.256889,...,12.104938,13.851852,6.907407,0.000000,52.382716,1.493750,0.318750,0.035586,0.180864,1
2,TBR,33.833333,4.148148,8.228395,3.993827,4.000864,2.771605,9.148148,37.320988,0.237667,...,12.598765,13.808642,6.240741,0.006173,50.950617,1.543210,0.493827,0.008802,-0.098765,0
3,OAK,33.950617,4.030864,8.345679,3.913580,3.778580,2.728395,7.067901,37.172840,0.239728,...,11.833333,14.907407,7.006173,0.006173,51.216049,1.367089,0.360759,0.009222,0.217284,0
4,ARI,34.969136,4.641975,9.129630,4.376543,4.270370,2.858025,8.808642,38.641975,0.254932,...,13.969136,13.481481,7.308642,0.006173,47.030864,1.559006,0.552795,-0.033364,-0.499383,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2423,SFG,34.351852,4.413580,8.870370,4.166667,4.148086,3.530864,6.833333,38.709877,0.250889,...,10.956790,13.672840,6.462963,0.000000,50.617284,1.465409,0.496855,-0.009241,-0.120370,1
2424,WSN,33.888889,4.709877,8.660494,4.537037,4.564630,3.308642,7.728395,38.277778,0.250728,...,11.590062,14.068323,7.124224,0.000000,50.204969,1.685897,0.474359,0.009037,0.202484,1
2425,ARI,34.969136,4.641975,9.129630,4.376543,4.270370,2.858025,8.808642,38.641975,0.254932,...,13.037037,14.024691,6.771605,0.000000,54.586420,1.341935,0.367742,0.052636,0.115432,1
2426,SEA,34.462963,4.740741,8.925926,4.537037,4.618457,3.123457,7.950617,38.438272,0.252698,...,13.012346,14.413580,7.037037,0.006173,52.487654,1.253165,0.443038,0.035278,0.387037,0
2427,KCR,34.271605,4.166667,8.950617,3.950617,3.969568,2.358025,7.555556,37.358025,0.256889,...,12.310559,13.403727,6.906832,0.006211,48.397516,1.409938,0.372671,-0.014391,-0.160248,0

In [17]:
df=df.replace('KCR',123456781)

In [8]:
df=df.replace('PIT',123456782)

In [9]:
df=df.replace('TBR',123456783)

In [10]:
df=df.replace('OAK',123456784)

In [11]:
df=df.replace('ARI',123456785)

In [12]:
df=df.replace('SFG',123456786)

In [13]:
df=df.replace('WSN',123456787)

In [14]:
df=df.replace('SEA',123456788)

In [19]:
df.H_name.unique()

array([123456782, 123456781, 123456783, 123456784, 123456785, 'SDP',
       'ATL', 'MIL', 'LAA', 'CIN', 'BAL', 'TEX', 'MIA', 'CLE', 'NYY',
       123456787, 123456786, 'DET', 'NYM', 'CHW', 'COL', 'TOR', 123456788,
       'BOS', 'MIN', 'PHI', 'HOU', 'STL', 'CHC', 'LAD'], dtype=object)

In [20]:
df=df.replace('SDP',123456789)

In [21]:
df=df.replace('ATL',123456791)

In [22]:
df=df.replace('MIL',123456792)

In [23]:
df=df.replace('LAA',123456793)

In [24]:
df=df.replace('CIN',123456794)

In [25]:
df=df.replace('BAL',123456795)

In [26]:
df=df.replace('TEX',123456796)

In [27]:
df.H_name.unique()

array([123456782, 123456781, 123456783, 123456784, 123456785, 123456789,
       123456791, 123456792, 123456793, 123456794, 123456795, 123456796,
       'MIA', 'CLE', 'NYY', 123456787, 123456786, 'DET', 'NYM', 'CHW',
       'COL', 'TOR', 123456788, 'BOS', 'MIN', 'PHI', 'HOU', 'STL', 'CHC',
       'LAD'], dtype=object)

In [28]:
df=df.replace('MIA',123456797)

In [29]:
df=df.replace('CLE',123456798)

In [30]:
df=df.replace('NYY',123456799)

In [31]:
df=df.replace('DET',123456810)

In [32]:
df=df.replace('NYM',123456811)

In [33]:
df=df.replace('CHW',123456812)

In [34]:
df=df.replace('COL',123456813)

In [35]:
df=df.replace('LAD',123456814)

In [36]:
df.H_name.unique()

array([123456782, 123456781, 123456783, 123456784, 123456785, 123456789,
       123456791, 123456792, 123456793, 123456794, 123456795, 123456796,
       123456797, 123456798, 123456799, 123456787, 123456786, 123456810,
       123456811, 123456812, 123456813, 'TOR', 123456788, 'BOS', 'MIN',
       'PHI', 'HOU', 'STL', 'CHC', 123456814], dtype=object)

In [37]:
df=df.replace('BOS',123456815)

In [38]:
df=df.replace('TOR',123456816)

In [39]:
df=df.replace('MIN',123456817)

In [40]:
df=df.replace('PHI',123456818)

In [41]:
df=df.replace('HOU',123456819)

In [42]:
df=df.replace('STL',123456820)

In [43]:
df=df.replace('CHC',123456821)

In [45]:
len(df.H_name.unique())

30

In [48]:
df.to_csv('data/Season_2016_TeamIDs.csv')