# Data Exploration

In [1]:
#import relevant Packages
import pandas as pd
import numpy as np
from sportsipy.mlb.boxscore import Boxscore
from sportsipy.mlb.boxscore import Boxscores

In [2]:
# Try calling in some games from Boxscores
game_data = Boxscore('BOS/BOS201808020')
print(game_data.home_runs)  # Prints 15
print(game_data.away_runs)  # Prints 7
df = game_data.dataframe
from datetime import datetime
from sportsipy.mlb.boxscore import Boxscores

games = Boxscores(datetime(2017, 7, 17), datetime(2017, 7, 20))

15
7

In [3]:
games_dict=games.games

In [4]:
#Examine raw games dictionary
games_dict

{'7-17-2017': [{'boxscore': 'BAL/BAL201707170',
   'away_name': 'Texas Rangers',
   'away_abbr': 'TEX',
   'away_score': 1,
   'home_name': 'Baltimore Orioles',
   'home_abbr': 'BAL',
   'home_score': 3,
   'winning_name': 'Baltimore Orioles',
   'winning_abbr': 'BAL',
   'losing_name': 'Texas Rangers',
   'losing_abbr': 'TEX'},
  {'boxscore': 'PIT/PIT201707170',
   'away_name': 'Milwaukee Brewers',
   'away_abbr': 'MIL',
   'away_score': 2,
   'home_name': 'Pittsburgh Pirates',
   'home_abbr': 'PIT',
   'home_score': 4,
   'winning_name': 'Pittsburgh Pirates',
   'winning_abbr': 'PIT',
   'losing_name': 'Milwaukee Brewers',
   'losing_abbr': 'MIL'},
  {'boxscore': 'BOS/BOS201707170',
   'away_name': 'Toronto Blue Jays',
   'away_abbr': 'TOR',
   'away_score': 4,
   'home_name': 'Boston Red Sox',
   'home_abbr': 'BOS',
   'home_score': 3,
   'winning_name': 'Toronto Blue Jays',
   'winning_abbr': 'TOR',
   'losing_name': 'Boston Red Sox',
   'losing_abbr': 'BOS'},
  {'boxscore': 'MIA/MIA201707170',
   'away_name': 'Philadelphia Phillies',
   'away_abbr': 'PHI',
   'away_score': 5,
   'home_name': 'Miami Marlins',
   'home_abbr': 'MIA',
   'home_score': 6,
   'winning_name': 'Miami Marlins',
   'winning_abbr': 'MIA',
   'losing_name': 'Philadelphia Phillies',
   'losing_abbr': 'PHI'},
  {'boxscore': 'NYN/NYN201707170',
   'away_name': 'St. Louis Cardinals',
   'away_abbr': 'STL',
   'away_score': 6,
   'home_name': 'New York Mets',
   'home_abbr': 'NYM',
   'home_score': 3,
   'winning_name': 'St. Louis Cardinals',
   'winning_abbr': 'STL',
   'losing_name': 'New York Mets',
   'losing_abbr': 'NYM'},
  {'boxscore': 'ATL/ATL201707170',
   'away_name': 'Chicago Cubs',
   'away_abbr': 'CHC',
   'away_score': 4,
   'home_name': 'Atlanta Braves',
   'home_abbr': 'ATL',
   'home_score': 3,
   'winning_name': 'Chicago Cubs',
   'winning_abbr': 'CHC',
   'losing_name': 'Atlanta Braves',
   'losing_abbr': 'ATL'},
  {'boxscore': 'HOU/HOU201707170',
   'away_name': 'Seattle Mariners',
   'away_abbr': 'SEA',
   'away_score': 9,
   'home_name': 'Houston Astros',
   'home_abbr': 'HOU',
   'home_score': 7,
   'winning_name': 'Seattle Mariners',
   'winning_abbr': 'SEA',
   'losing_name': 'Houston Astros',
   'losing_abbr': 'HOU'},
  {'boxscore': 'MIN/MIN201707170',
   'away_name': 'New York Yankees',
   'away_abbr': 'NYY',
   'away_score': 2,
   'home_name': 'Minnesota Twins',
   'home_abbr': 'MIN',
   'home_score': 4,
   'winning_name': 'Minnesota Twins',
   'winning_abbr': 'MIN',
   'losing_name': 'New York Yankees',
   'losing_abbr': 'NYY'},
  {'boxscore': 'KCA/KCA201707170',
   'away_name': 'Detroit Tigers',
   'away_abbr': 'DET',
   'away_score': 10,
   'home_name': 'Kansas City Royals',
   'home_abbr': 'KCR',
   'home_score': 2,
   'winning_name': 'Detroit Tigers',
   'winning_abbr': 'DET',
   'losing_name': 'Kansas City Royals',
   'losing_abbr': 'KCR'},
  {'boxscore': 'COL/COL201707170',
   'away_name': 'San Diego Padres',
   'away_abbr': 'SDP',
   'away_score': 6,
   'home_name': 'Colorado Rockies',
   'home_abbr': 'COL',
   'home_score': 9,
   'winning_name': 'Colorado Rockies',
   'winning_abbr': 'COL',
   'losing_name': 'San Diego Padres',
   'losing_abbr': 'SDP'},
  {'boxscore': 'OAK/OAK201707170',
   'away_name': 'Tampa Bay Rays',
   'away_abbr': 'TBR',
   'away_score': 3,
   'home_name': 'Oakland Athletics',
   'home_abbr': 'OAK',
   'home_score': 2,
   'winning_name': 'Tampa Bay Rays',
   'winning_abbr': 'TBR',
   'losing_name': 'Oakland Athletics',
   'losing_abbr': 'OAK'},
  {'boxscore': 'SFN/SFN201707170',
   'away_name': 'Cleveland Indians',
   'away_abbr': 'CLE',
   'away_score': 5,
   'home_name': 'San Francisco Giants',
   'home_abbr': 'SFG',
   'home_score': 3,
   'winning_name': 'Cleveland Indians',
   'winning_abbr': 'CLE',
   'losing_name': 'San Francisco Giants',
   'losing_abbr': 'SFG'},
  {'boxscore': 'CIN/CIN201707170',
   'away_name': 'Washington Nationals',
   'away_abbr': 'WSN',
   'away_score': 6,
   'home_name': 'Cincinnati Reds',
   'home_abbr': 'CIN',
   'home_score': 1,
   'winning_name': 'Washington Nationals',
   'winning_abbr': 'WSN',
   'losing_name': 'Cincinnati Reds',
   'losing_abbr': 'CIN'}],
 '7-18-2017': [{'boxscore': 'BAL/BAL201707180',
   'away_name': 'Texas Rangers',
   'away_abbr': 'TEX',
   'away_score': 1,
   'home_name': 'Baltimore Orioles',
   'home_abbr': 'BAL',
   'home_score': 12,
   'winning_name': 'Baltimore Orioles',
   'winning_abbr': 'BAL',
   'losing_name': 'Texas Rangers',
   'losing_abbr': 'TEX'},
  {'boxscore': 'PIT/PIT201707180',
   'away_name': 'Milwaukee Brewers',
   'away_abbr': 'MIL',
   'away_score': 3,
   'home_name': 'Pittsburgh Pirates',
   'home_abbr': 'PIT',
   'home_score': 4,
   'winning_name': 'Pittsburgh Pirates',
   'winning_abbr': 'PIT',
   'losing_name': 'Milwaukee Brewers',
   'losing_abbr': 'MIL'},
  {'boxscore': 'BOS/BOS201707180',
   'away_name': 'Toronto Blue Jays',
   'away_abbr': 'TOR',
   'away_score': 4,
   'home_name': 'Boston Red Sox',
   'home_abbr': 'BOS',
   'home_score': 5,
   'winning_name': 'Boston Red Sox',
   'winning_abbr': 'BOS',
   'losing_name': 'Toronto Blue Jays',
   'losing_abbr': 'TOR'},
  {'boxscore': 'CIN/CIN201707180',
   'away_name': 'Arizona Diamondbacks',
   'away_abbr': 'ARI',
   'away_score': 11,
   'home_name': 'Cincinnati Reds',
   'home_abbr': 'CIN',
   'home_score': 2,
   'winning_name': 'Arizona Diamondbacks',
   'winning_abbr': 'ARI',
   'losing_name': 'Cincinnati Reds',
   'losing_abbr': 'CIN'},
  {'boxscore': 'MIA/MIA201707180',
   'away_name': 'Philadelphia Phillies',
   'away_abbr': 'PHI',
   'away_score': 5,
   'home_name': 'Miami Marlins',
   'home_abbr': 'MIA',
   'home_score': 2,
   'winning_name': 'Philadelphia Phillies',
   'winning_abbr': 'PHI',
   'losing_name': 'Miami Marlins',
   'losing_abbr': 'MIA'},
  {'boxscore': 'NYN/NYN201707180',
   'away_name': 'St. Louis Cardinals',
   'away_abbr': 'STL',
   'away_score': 5,
   'home_name': 'New York Mets',
   'home_abbr': 'NYM',
   'home_score': 0,
   'winning_name': 'St. Louis Cardinals',
   'winning_abbr': 'STL',
   'losing_name': 'New York Mets',
   'losing_abbr': 'NYM'},
  {'boxscore': 'ATL/ATL201707180',
   'away_name': 'Chicago Cubs',
   'away_abbr': 'CHC',
   'away_score': 5,
   'home_name': 'Atlanta Braves',
   'home_abbr': 'ATL',
   'home_score': 1,
   'winning_name': 'Chicago Cubs',
   'winning_abbr': 'CHC',
   'losing_name': 'Atlanta Braves',
   'losing_abbr': 'ATL'},
  {'boxscore': 'CHA/CHA201707180',
   'away_name': 'Los Angeles Dodgers',
   'away_abbr': 'LAD',
   'away_score': 1,
   'home_name': 'Chicago White Sox',
   'home_abbr': 'CHW',
   'home_score': 0,
   'winning_name': 'Los Angeles Dodgers',
   'winning_abbr': 'LAD',
   'losing_name': 'Chicago White Sox',
   'losing_abbr': 'CHW'},
  {'boxscore': 'HOU/HOU201707180',
   'away_name': 'Seattle Mariners',
   'away_abbr': 'SEA',
   'away_score': 2,
   'home_name': 'Houston Astros',
   'home_abbr': 'HOU',
   'home_score': 6,
   'winning_name': 'Houston Astros',
   'winning_abbr': 'HOU',
   'losing_name': 'Seattle Mariners',
   'losing_abbr': 'SEA'},
  {'boxscore': 'MIN/MIN201707180',
   'away_name': 'New York Yankees',
   'away_abbr': 'NYY',
   'away_score': 6,
   'home_name': 'Minnesota Twins',
   'home_abbr': 'MIN',
   'home_score': 3,
   'winning_name': 'New York Yankees',
   'winning_abbr': 'NYY',
   'losing_name': 'Minnesota Twins',
   'losing_abbr': 'MIN'},
  {'boxscore': 'KCA/KCA201707180',
   'away_name': 'Detroit Tigers',
   'away_abbr': 'DET',
   'away_score': 9,
   'home_name': 'Kansas City Royals',
   'home_abbr': 'KCR',
   'home_score': 3,
   'winning_name': 'Detroit Tigers',
   'winning_abbr': 'DET',
   'losing_name': 'Kansas City Royals',
   'losing_abbr': 'KCR'},
  {'boxscore': 'COL/COL201707180',
   'away_name': 'San Diego Padres',
   'away_abbr': 'SDP',
   'away_score': 7,
   'home_name': 'Colorado Rockies',
   'home_abbr': 'COL',
   'home_score': 9,
   'winning_name': 'Colorado Rockies',
   'winning_abbr': 'COL',
   'losing_name': 'San Diego Padres',
   'losing_abbr': 'SDP'},
  {'boxscore': 'OAK/OAK201707180',
   'away_name': 'Tampa Bay Rays',
   'away_abbr': 'TBR',
   'away_score': 4,
   'home_name': 'Oakland Athletics',
   'home_abbr': 'OAK',
   'home_score': 3,
   'winning_name': 'Tampa Bay Rays',
   'winning_abbr': 'TBR',
   'losing_name': 'Oakland Athletics',
   'losing_abbr': 'OAK'},
  {'boxscore': 'ANA/ANA201707180',
   'away_name': 'Washington Nationals',
   'away_abbr': 'WSN',
   'away_score': 4,
   'home_name': 'Los Angeles Angels',
   'home_abbr': 'LAA',
   'home_score': 3,
   'winning_name': 'Washington Nationals',
   'winning_abbr': 'WSN',
   'losing_name': 'Los Angeles Angels',
   'losing_abbr': 'LAA'},
  {'boxscore': 'SFN/SFN201707180',
   'away_name': 'Cleveland Indians',
   'away_abbr': 'CLE',
   'away_score': 1,
   'home_name': 'San Francisco Giants',
   'home_abbr': 'SFG',
   'home_score': 2,
   'winning_name': 'San Francisco Giants',
   'winning_abbr': 'SFG',
   'losing_name': 'Cleveland Indians',
   'losing_abbr': 'CLE'}],
 '7-19-2017': [{'boxscore': 'MIN/MIN201707190',
   'away_name': 'New York Yankees',
   'away_abbr': 'NYY',
   'away_score': 1,
   'home_name': 'Minnesota Twins',
   'home_abbr': 'MIN',
   'home_score': 6,
   'winning_name': 'Minnesota Twins',
   'winning_abbr': 'MIN',
   'losing_name': 'New York Yankees',
   'losing_abbr': 'NYY'},
  {'boxscore': 'HOU/HOU201707190',
   'away_name': 'Seattle Mariners',
   'away_abbr': 'SEA',
   'away_score': 4,
   'home_name': 'Houston Astros',
   'home_abbr': 'HOU',
   'home_score': 1,
   'winning_name': 'Seattle Mariners',
   'winning_abbr': 'SEA',
   'losing_name': 'Houston Astros',
   'losing_abbr': 'HOU'},
  {'boxscore': 'COL/COL201707190',
   'away_name': 'San Diego Padres',
   'away_abbr': 'SDP',
   'away_score': 4,
   'home_name': 'Colorado Rockies',
   'home_abbr': 'COL',
   'home_score': 18,
   'winning_name': 'Colorado Rockies',
   'winning_abbr': 'COL',
   'losing_name': 'San Diego Padres',
   'losing_abbr': 'SDP'},
  {'boxscore': 'OAK/OAK201707190',
   'away_name': 'Tampa Bay Rays',
   'away_abbr': 'TBR',
   'away_score': 2,
   'home_name': 'Oakland Athletics',
   'home_abbr': 'OAK',
   'home_score': 7,
   'winning_name': 'Oakland Athletics',
   'winning_abbr': 'OAK',
   'losing_name': 'Tampa Bay Rays',
   'losing_abbr': 'TBR'},
  {'boxscore': 'SFN/SFN201707190',
   'away_name': 'Cleveland Indians',
   'away_abbr': 'CLE',
   'away_score': 4,
   'home_name': 'San Francisco Giants',
   'home_abbr': 'SFG',
   'home_score': 5,
   'winning_name': 'San Francisco Giants',
   'winning_abbr': 'SFG',
   'losing_name': 'Cleveland Indians',
   'losing_abbr': 'CLE'},
  {'boxscore': 'BAL/BAL201707190',
   'away_name': 'Texas Rangers',
   'away_abbr': 'TEX',
   'away_score': 2,
   'home_name': 'Baltimore Orioles',
   'home_abbr': 'BAL',
   'home_score': 10,
   'winning_name': 'Baltimore Orioles',
   'winning_abbr': 'BAL',
   'losing_name': 'Texas Rangers',
   'losing_abbr': 'TEX'},
  {'boxscore': 'PIT/PIT201707190',
   'away_name': 'Milwaukee Brewers',
   'away_abbr': 'MIL',
   'away_score': 2,
   'home_name': 'Pittsburgh Pirates',
   'home_abbr': 'PIT',
   'home_score': 3,
   'winning_name': 'Pittsburgh Pirates',
   'winning_abbr': 'PIT',
   'losing_name': 'Milwaukee Brewers',
   'losing_abbr': 'MIL'},
  {'boxscore': 'BOS/BOS201707190',
   'away_name': 'Toronto Blue Jays',
   'away_abbr': 'TOR',
   'away_score': 1,
   'home_name': 'Boston Red Sox',
   'home_abbr': 'BOS',
   'home_score': 5,
   'winning_name': 'Boston Red Sox',
   'winning_abbr': 'BOS',
   'losing_name': 'Toronto Blue Jays',
   'losing_abbr': 'TOR'},
  {'boxscore': 'CIN/CIN201707190',
   'away_name': 'Arizona Diamondbacks',
   'away_abbr': 'ARI',
   'away_score': 3,
   'home_name': 'Cincinnati Reds',
   'home_abbr': 'CIN',
   'home_score': 4,
   'winning_name': 'Cincinnati Reds',
   'winning_abbr': 'CIN',
   'losing_name': 'Arizona Diamondbacks',
   'losing_abbr': 'ARI'},
  {'boxscore': 'NYN/NYN201707190',
   'away_name': 'St. Louis Cardinals',
   'away_abbr': 'STL',
   'away_score': 3,
   'home_name': 'New York Mets',
   'home_abbr': 'NYM',
   'home_score': 7,
   'winning_name': 'New York Mets',
   'winning_abbr': 'NYM',
   'losing_name': 'St. Louis Cardinals',
   'losing_abbr': 'STL'},
  {'boxscore': 'CHA/CHA201707190',
   'away_name': 'Los Angeles Dodgers',
   'away_abbr': 'LAD',
   'away_score': 9,
   'home_name': 'Chicago White Sox',
   'home_abbr': 'CHW',
   'home_score': 1,
   'winning_name': 'Los Angeles Dodgers',
   'winning_abbr': 'LAD',
   'losing_name': 'Chicago White Sox',
   'losing_abbr': 'CHW'},
  {'boxscore': 'KCA/KCA201707190',
   'away_name': 'Detroit Tigers',
   'away_abbr': 'DET',
   'away_score': 3,
   'home_name': 'Kansas City Royals',
   'home_abbr': 'KCR',
   'home_score': 4,
   'winning_name': 'Kansas City Royals',
   'winning_abbr': 'KCR',
   'losing_name': 'Detroit Tigers',
   'losing_abbr': 'DET'},
  {'boxscore': 'ANA/ANA201707190',
   'away_name': 'Washington Nationals',
   'away_abbr': 'WSN',
   'away_score': 0,
   'home_name': 'Los Angeles Angels',
   'home_abbr': 'LAA',
   'home_score': 7,
   'winning_name': 'Los Angeles Angels',
   'winning_abbr': 'LAA',
   'losing_name': 'Washington Nationals',
   'losing_abbr': 'WSN'},
  {'boxscore': 'ATL/ATL201707190',
   'away_name': 'Chicago Cubs',
   'away_abbr': 'CHC',
   'away_score': 8,
   'home_name': 'Atlanta Braves',
   'home_abbr': 'ATL',
   'home_score': 2,
   'winning_name': 'Chicago Cubs',
   'winning_abbr': 'CHC',
   'losing_name': 'Atlanta Braves',
   'losing_abbr': 'ATL'},
  {'boxscore': 'MIA/MIA201707190',
   'away_name': 'Philadelphia Phillies',
   'away_abbr': 'PHI',
   'away_score': 10,
   'home_name': 'Miami Marlins',
   'home_abbr': 'MIA',
   'home_score': 3,
   'winning_name': 'Philadelphia Phillies',
   'winning_abbr': 'PHI',
   'losing_name': 'Miami Marlins',
   'losing_abbr': 'MIA'}],
 '7-20-2017': [{'boxscore': 'BOS/BOS201707200',
   'away_name': 'Toronto Blue Jays',
   'away_abbr': 'TOR',
   'away_score': 8,
   'home_name': 'Boston Red Sox',
   'home_abbr': 'BOS',
   'home_score': 6,
   'winning_name': 'Toronto Blue Jays',
   'winning_abbr': 'TOR',
   'losing_name': 'Boston Red Sox',
   'losing_abbr': 'BOS'},
  {'boxscore': 'BAL/BAL201707200',
   'away_name': 'Texas Rangers',
   'away_abbr': 'TEX',
   'away_score': 7,
   'home_name': 'Baltimore Orioles',
   'home_abbr': 'BAL',
   'home_score': 9,
   'winning_name': 'Baltimore Orioles',
   'winning_abbr': 'BAL',
   'losing_name': 'Texas Rangers',
   'losing_abbr': 'TEX'},
  {'boxscore': 'KCA/KCA201707200',
   'away_name': 'Detroit Tigers',
   'away_abbr': 'DET',
   'away_score': 4,
   'home_name': 'Kansas City Royals',
   'home_abbr': 'KCR',
   'home_score': 16,
   'winning_name': 'Kansas City Royals',
   'winning_abbr': 'KCR',
   'losing_name': 'Detroit Tigers',
   'losing_abbr': 'DET'},
  {'boxscore': 'LAN/LAN201707200',
   'away_name': 'Atlanta Braves',
   'away_abbr': 'ATL',
   'away_score': 6,
   'home_name': 'Los Angeles Dodgers',
   'home_abbr': 'LAD',
   'home_score': 3,
   'winning_name': 'Atlanta Braves',
   'winning_abbr': 'ATL',
   'losing_name': 'Los Angeles Dodgers',
   'losing_abbr': 'LAD'},
  {'boxscore': 'SEA/SEA201707200',
   'away_name': 'New York Yankees',
   'away_abbr': 'NYY',
   'away_score': 4,
   'home_name': 'Seattle Mariners',
   'home_abbr': 'SEA',
   'home_score': 1,
   'winning_name': 'New York Yankees',
   'winning_abbr': 'NYY',
   'losing_name': 'Seattle Mariners',
   'losing_abbr': 'SEA'},
  {'boxscore': 'SFN/SFN201707200',
   'away_name': 'San Diego Padres',
   'away_abbr': 'SDP',
   'away_score': 5,
   'home_name': 'San Francisco Giants',
   'home_abbr': 'SFG',
   'home_score': 2,
   'winning_name': 'San Diego Padres',
   'winning_abbr': 'SDP',
   'losing_name': 'San Francisco Giants',
   'losing_abbr': 'SFG'},
  {'boxscore': 'NYN/NYN201707200',
   'away_name': 'St. Louis Cardinals',
   'away_abbr': 'STL',
   'away_score': 2,
   'home_name': 'New York Mets',
   'home_abbr': 'NYM',
   'home_score': 3,
   'winning_name': 'New York Mets',
   'winning_abbr': 'NYM',
   'losing_name': 'St. Louis Cardinals',
   'losing_abbr': 'STL'},
  {'boxscore': 'CIN/CIN201707200',
   'away_name': 'Arizona Diamondbacks',
   'away_abbr': 'ARI',
   'away_score': 12,
   'home_name': 'Cincinnati Reds',
   'home_abbr': 'CIN',
   'home_score': 2,
   'winning_name': 'Arizona Diamondbacks',
   'winning_abbr': 'ARI',
   'losing_name': 'Cincinnati Reds',
   'losing_abbr': 'CIN'},
  {'boxscore': 'PIT/PIT201707200',
   'away_name': 'Milwaukee Brewers',
   'away_abbr': 'MIL',
   'away_score': 2,
   'home_name': 'Pittsburgh Pirates',
   'home_abbr': 'PIT',
   'home_score': 4,
   'winning_name': 'Pittsburgh Pirates',
   'winning_abbr': 'PIT',
   'losing_name': 'Milwaukee Brewers',
   'losing_abbr': 'MIL'}]}

In [5]:
# Function to return games in certain time range
def get_current_games(date,end_date,end_week=None):
    
    games = Boxscores(date,end_date)
    schedule = games.games

    game_days = []
    for day in schedule.values():
        for game in day:
            game_days.append(game['boxscore'])
            
    season_games = []

    for i in game_days:
        temp = Boxscore(i).dataframe
        season_games.append(temp)

    df = pd.concat(season_games, axis = 0).reset_index()

    return df

In [6]:
seasons17=get_current_games(datetime(2017, 4, 2),datetime(2017, 10, 2))

In [7]:
seasons17.head()

,index,date,time,venue,attendance,duration,time_of_day,winner,winning_name,winning_abbr,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
0,TBA/TBA201704020,"Sunday, April 2, 2017",1:12 p.m. Local,Tropicana Field,31042,3:21,Day,Home,Tampa Bay Rays,TBR,...,20,13,14,7,0,59,3,1,0.074,1.6
1,ARI/ARI201704020,"Sunday, April 2, 2017",1:10 p.m. Local,Chase Field,49016,3:23,Day,Home,Arizona Diamondbacks,ARI,...,25,14,12,6,0,53,1,0,-0.358,0.0
2,SLN/SLN201704020,"Sunday, April 2, 2017",7:38 p.m. Local,Busch Stadium III,47566,3:33,Night,Home,St. Louis Cardinals,STL,...,28,11,17,12,0,76,2,0,0.257,1.6
3,WAS/WAS201704030,"Monday, April 3, 2017",1:05 p.m. Local,Nationals Park,42744,2:47,Day,Home,Washington Nationals,WSN,...,25,8,14,9,0,60,0,0,0.323,2.8
4,NYN/NYN201704030,"Monday, April 3, 2017",1:13 p.m. Local,Citi Field,44384,3:13,Day,Home,New York Mets,NYM,...,25,8,17,6,0,69,0,0,0.446,4.4

In [8]:
seasons17.to_csv('reg_season17_raw.csv')

In [9]:
df=pd.read_csv('reg_season17_raw.csv')

# Data Exploration

In [10]:
#Examine where we are at to begin with
df.head()

,Unnamed: 0,index,date,time,venue,attendance,duration,time_of_day,winner,winning_name,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
0,0,TBA/TBA201704020,"Sunday, April 2, 2017",1:12 p.m. Local,Tropicana Field,31042.0,3:21,Day,Home,Tampa Bay Rays,...,20,13,14,7,0,59,3.0,1.0,0.074,1.6
1,1,ARI/ARI201704020,"Sunday, April 2, 2017",1:10 p.m. Local,Chase Field,49016.0,3:23,Day,Home,Arizona Diamondbacks,...,25,14,12,6,0,53,1.0,0.0,-0.358,0.0
2,2,SLN/SLN201704020,"Sunday, April 2, 2017",7:38 p.m. Local,Busch Stadium III,47566.0,3:33,Night,Home,St. Louis Cardinals,...,28,11,17,12,0,76,2.0,0.0,0.257,1.6
3,3,WAS/WAS201704030,"Monday, April 3, 2017",1:05 p.m. Local,Nationals Park,42744.0,2:47,Day,Home,Washington Nationals,...,25,8,14,9,0,60,0.0,0.0,0.323,2.8
4,4,NYN/NYN201704030,"Monday, April 3, 2017",1:13 p.m. Local,Citi Field,44384.0,3:13,Day,Home,New York Mets,...,25,8,17,6,0,69,0.0,0.0,0.446,4.4

In [11]:
df.columns

Index(['Unnamed: 0', 'index', 'date', 'time', 'venue', 'attendance',
       'duration', 'time_of_day', 'winner', 'winning_name', 'winning_abbr',
       'losing_name', 'losing_abbr', 'away_at_bats', 'away_runs', 'away_hits',
       'away_rbi', 'away_earned_runs', 'away_bases_on_balls',
       'away_strikeouts', 'away_plate_appearances', 'away_batting_average',
       'away_on_base_percentage', 'away_slugging_percentage',
       'away_on_base_plus', 'away_pitches', 'away_strikes',
       'away_win_probability_for_offensive_player',
       'away_average_leverage_index', 'away_win_probability_added',
       'away_win_probability_subtracted', 'away_base_out_runs_added',
       'away_putouts', 'away_assists', 'away_innings_pitched',
       'away_home_runs', 'away_strikes_by_contact', 'away_strikes_swinging',
       'away_strikes_looking', 'away_grounded_balls', 'away_fly_balls',
       'away_line_drives', 'away_unknown_bat_type', 'away_game_score',
       'away_inherited_runners', 'away_inherited_score',
       'away_win_probability_by_pitcher', 'away_base_out_runs_saved',
       'home_at_bats', 'home_runs', 'home_hits', 'home_rbi',
       'home_earned_runs', 'home_bases_on_balls', 'home_strikeouts',
       'home_plate_appearances', 'home_batting_average',
       'home_on_base_percentage', 'home_slugging_percentage',
       'home_on_base_plus', 'home_pitches', 'home_strikes',
       'home_win_probability_for_offensive_player',
       'home_average_leverage_index', 'home_win_probability_added',
       'home_win_probability_subtracted', 'home_base_out_runs_added',
       'home_putouts', 'home_assists', 'home_innings_pitched',
       'home_home_runs', 'home_strikes_by_contact', 'home_strikes_swinging',
       'home_strikes_looking', 'home_grounded_balls', 'home_fly_balls',
       'home_line_drives', 'home_unknown_bat_type', 'home_game_score',
       'home_inherited_runners', 'home_inherited_score',
       'home_win_probability_by_pitcher', 'home_base_out_runs_saved'],
      dtype='object')

In [12]:
df.head()

,Unnamed: 0,index,date,time,venue,attendance,duration,time_of_day,winner,winning_name,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
0,0,TBA/TBA201704020,"Sunday, April 2, 2017",1:12 p.m. Local,Tropicana Field,31042.0,3:21,Day,Home,Tampa Bay Rays,...,20,13,14,7,0,59,3.0,1.0,0.074,1.6
1,1,ARI/ARI201704020,"Sunday, April 2, 2017",1:10 p.m. Local,Chase Field,49016.0,3:23,Day,Home,Arizona Diamondbacks,...,25,14,12,6,0,53,1.0,0.0,-0.358,0.0
2,2,SLN/SLN201704020,"Sunday, April 2, 2017",7:38 p.m. Local,Busch Stadium III,47566.0,3:33,Night,Home,St. Louis Cardinals,...,28,11,17,12,0,76,2.0,0.0,0.257,1.6
3,3,WAS/WAS201704030,"Monday, April 3, 2017",1:05 p.m. Local,Nationals Park,42744.0,2:47,Day,Home,Washington Nationals,...,25,8,14,9,0,60,0.0,0.0,0.323,2.8
4,4,NYN/NYN201704030,"Monday, April 3, 2017",1:13 p.m. Local,Citi Field,44384.0,3:13,Day,Home,New York Mets,...,25,8,17,6,0,69,0.0,0.0,0.446,4.4

In [13]:
#set date to datetime
df.date=pd.to_datetime(df.date)

In [14]:
#Set date as index
df.set_index(df.date,inplace=True)

In [15]:
#Get rid of whitespace
for column in df.columns:
    column.strip()

In [16]:
#drop no longer needed columns
df.drop(['Unnamed: 0','index'],axis=1,inplace=True)

In [17]:
#drop date column as it is now in index
df.drop(['date'],axis=1,inplace=True)

In [18]:
df.head()

,time,venue,attendance,duration,time_of_day,winner,winning_name,winning_abbr,losing_name,losing_abbr,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
date,,,,,,,,,,,,,,,,,,,,,
2017-04-02,1:12 p.m. Local,Tropicana Field,31042.0,3:21,Day,Home,Tampa Bay Rays,TBR,New York Yankees,NYY,...,20,13,14,7,0,59,3.0,1.0,0.074,1.6
2017-04-02,1:10 p.m. Local,Chase Field,49016.0,3:23,Day,Home,Arizona Diamondbacks,ARI,San Francisco Giants,SFG,...,25,14,12,6,0,53,1.0,0.0,-0.358,0.0
2017-04-02,7:38 p.m. Local,Busch Stadium III,47566.0,3:33,Night,Home,St. Louis Cardinals,STL,Chicago Cubs,CHC,...,28,11,17,12,0,76,2.0,0.0,0.257,1.6
2017-04-03,1:05 p.m. Local,Nationals Park,42744.0,2:47,Day,Home,Washington Nationals,WSN,Miami Marlins,MIA,...,25,8,14,9,0,60,0.0,0.0,0.323,2.8
2017-04-03,1:13 p.m. Local,Citi Field,44384.0,3:13,Day,Home,New York Mets,NYM,Atlanta Braves,ATL,...,25,8,17,6,0,69,0.0,0.0,0.446,4.4

In [19]:
#Limit data to 2016 MLB Season
df_17=df

In [20]:
#Put home and away winners in own dataframes
Home = df_17[(df_17['winner'] == 'Home')] 
Away= df_17[(df_17['winner'] == 'Away')]

In [21]:
#yankees home and away wins in own df as example of what will be done to every team
yankees_home_wins=Home[(Home['winning_abbr'] == 'NYY')]
yankees_away_wins=Away[(Away['winning_abbr']=='NYY')]

In [22]:
#yanks total wins concated together
yankees_wins=pd.concat([yankees_home_wins,yankees_away_wins])

In [23]:
#84 wins
yankees_wins.winning_abbr.value_counts()

NYY    91
Name: winning_abbr, dtype: int64

In [24]:
#Yanks home and away losses
yankees_home_loss=Home[(Home['losing_abbr'] == 'NYY')]
yankees_away_loss=Away[(Away['losing_abbr']=='NYY')]

In [25]:
#combine dataframes of yanks losses
yankees_loss=pd.concat([yankees_home_loss,yankees_away_loss])

In [26]:
#78 losses 
yankees_loss.losing_abbr.value_counts()

NYY    71
Name: losing_abbr, dtype: int64

In [27]:
#combine to make complete 2016 season
yankees_16=pd.concat([yankees_wins,yankees_loss])

In [28]:
yankees_16.head()

,time,venue,attendance,duration,time_of_day,winner,winning_name,winning_abbr,losing_name,losing_abbr,...,home_strikes_looking,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved
date,,,,,,,,,,,,,,,,,,,,,
2017-04-10,1:12 p.m. Local,Yankee Stadium III,46955.0,2:37,Day,Home,New York Yankees,NYY,Tampa Bay Rays,TBR,...,19,14,15,8,0,82,0.0,0.0,0.446,3.9
2017-04-12,1:10 p.m. Local,Yankee Stadium III,38002.0,3:33,Day,Home,New York Yankees,NYY,Tampa Bay Rays,TBR,...,25,15,18,7,0,49,3.0,1.0,0.066,0.9
2017-04-13,7:08 p.m. Local,Yankee Stadium III,34772.0,2:59,Night,Home,New York Yankees,NYY,Tampa Bay Rays,TBR,...,25,11,11,6,0,69,0.0,0.0,0.466,2.9
2017-04-14,7:09 p.m. Local,Yankee Stadium III,39102.0,2:54,Night,Home,New York Yankees,NYY,St. Louis Cardinals,STL,...,17,7,15,6,0,54,2.0,0.0,0.453,1.9
2017-04-15,1:09 p.m. Local,Yankee Stadium III,43031.0,3:05,Day,Home,New York Yankees,NYY,St. Louis Cardinals,STL,...,32,7,7,3,0,73,0.0,0.0,0.526,2.9

### Team Reg Season Function walkthrough outside to find potential bugs

In [29]:
#Rename columns to avoid deletetion later
df_17=df_17.rename(columns={'home_home_runs':'home_HR','away_home_runs':'away_HR'})

In [30]:
df_17.columns

Index(['time', 'venue', 'attendance', 'duration', 'time_of_day', 'winner',
       'winning_name', 'winning_abbr', 'losing_name', 'losing_abbr',
       'away_at_bats', 'away_runs', 'away_hits', 'away_rbi',
       'away_earned_runs', 'away_bases_on_balls', 'away_strikeouts',
       'away_plate_appearances', 'away_batting_average',
       'away_on_base_percentage', 'away_slugging_percentage',
       'away_on_base_plus', 'away_pitches', 'away_strikes',
       'away_win_probability_for_offensive_player',
       'away_average_leverage_index', 'away_win_probability_added',
       'away_win_probability_subtracted', 'away_base_out_runs_added',
       'away_putouts', 'away_assists', 'away_innings_pitched', 'away_HR',
       'away_strikes_by_contact', 'away_strikes_swinging',
       'away_strikes_looking', 'away_grounded_balls', 'away_fly_balls',
       'away_line_drives', 'away_unknown_bat_type', 'away_game_score',
       'away_inherited_runners', 'away_inherited_score',
       'away_win_probability_by_pitcher', 'away_base_out_runs_saved',
       'home_at_bats', 'home_runs', 'home_hits', 'home_rbi',
       'home_earned_runs', 'home_bases_on_balls', 'home_strikeouts',
       'home_plate_appearances', 'home_batting_average',
       'home_on_base_percentage', 'home_slugging_percentage',
       'home_on_base_plus', 'home_pitches', 'home_strikes',
       'home_win_probability_for_offensive_player',
       'home_average_leverage_index', 'home_win_probability_added',
       'home_win_probability_subtracted', 'home_base_out_runs_added',
       'home_putouts', 'home_assists', 'home_innings_pitched', 'home_HR',
       'home_strikes_by_contact', 'home_strikes_swinging',
       'home_strikes_looking', 'home_grounded_balls', 'home_fly_balls',
       'home_line_drives', 'home_unknown_bat_type', 'home_game_score',
       'home_inherited_runners', 'home_inherited_score',
       'home_win_probability_by_pitcher', 'home_base_out_runs_saved'],
      dtype='object')

In [31]:
#Isolate Home winners and away winners into their own df
Home = df_17[(df_17['winner'] == 'Home')] 
Away= df_17[(df_17['winner'] == 'Away')]

In [32]:
#Yanks home wins and losses isolated then combined to only have their stats from those games
home_wins=Home[(Home['winning_abbr'] == 'NYY')]
home_loss=Away[(Away['losing_abbr'] == 'NYY')]
home_games= pd.concat([home_wins,home_loss])
home_offense = home_games.filter(like = 'home')

In [33]:
#Yanks away wins and losses isolated then combined to only have their stats from those games
away_wins=Away[(Away['winning_abbr']=='NYY')]
away_loss=Home[(Home['losing_abbr']=='NYY')]
away_games= pd.concat([away_wins,away_loss])
away_offense = away_games.filter(like = 'away')

In [34]:
#Get rid of the words home/away
home_offense.columns = home_offense.columns.str.replace('home_','')
away_offense.columns = away_offense.columns.str.replace('away_','')

In [35]:
#home_offense.drop('away_runs',axis=1,inplace=True)

In [36]:
#Check to make sure that the columns are the same for both data frames
home_offense.columns==away_offense.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [37]:
#Combine dataframes to make one dataframe of all this teams stats
team_offense = pd.concat([home_offense, away_offense])

In [38]:
#From the teams given home games take the stats of the team they played against
home_games_opponents = home_games.filter(like = 'away')
away_games_opponents = away_games.filter(like = 'home')

In [39]:
#Get rid of the words home/away
home_games_opponents.columns = home_games_opponents.columns.str.replace('away_','')
away_games_opponents.columns = away_games_opponents.columns.str.replace('home_','')

In [40]:
#Combine to make dataframe of stats from all opponents 
team_opponents= pd.concat([home_games_opponents,away_games_opponents])

In [41]:
#Combine theirs and the opponents to make one full data frame for the team, put an Opp_ 
#prefix in front of opponent stats
team_full_check = pd.concat([team_offense, team_opponents.add_prefix('Opp_')], axis = 1)

In [44]:
team_full_check.head()

,at_bats,runs,hits,rbi,earned_runs,bases_on_balls,strikeouts,plate_appearances,batting_average,on_base_percentage,...,Opp_strikes_looking,Opp_grounded_balls,Opp_fly_balls,Opp_line_drives,Opp_unknown_bat_type,Opp_game_score,Opp_inherited_runners,Opp_inherited_score,Opp_win_probability_by_pitcher,Opp_base_out_runs_saved
date,,,,,,,,,,,,,,,,,,,,,
2017-04-10,36,8,10,8,6.75,1,7,37,0.278,0.297,...,18,9,8,1,0,54,1.0,1.0,-0.054,-3.6
2017-04-12,34,8,8,6,4.50,5,1,39,0.235,0.333,...,33,11,13,8,0,54,7.0,4.0,-0.435,-3.6
2017-04-13,29,3,7,3,3.38,5,7,34,0.241,0.353,...,33,6,12,6,0,60,1.0,1.0,-0.034,1.4
2017-04-14,32,4,9,3,3.38,4,10,36,0.281,0.361,...,27,11,13,4,0,46,0.0,0.0,-0.046,0.4
2017-04-15,31,3,5,2,2.25,8,17,39,0.161,0.333,...,24,9,13,7,0,53,1.0,0.0,0.027,1.4

I need to create a column that has the teams name in it all the way down, below I will try and make this column using the LAD as my example

In [60]:
#assumed 162 games played
#LAD=(('LAD',)*162)

In [61]:
# d = {'TEAM':LAD}
# ser = pd.Series(data=d, index=['TEAM'])

In [62]:
#create name column and fill it with the new LAD variable made above
#team_full_check['name']= LAD

In [45]:
team_full_check = team_full_check.assign(name='LAD')

In [48]:
med_odds=pd.read_csv('../data/MLB__median_odds_2016.csv')

In [49]:
med_odds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Team         30 non-null     object
 1   Median_odds  30 non-null     float64
dtypes: float64(1), object(1)
memory usage: 608.0+ bytes

In [50]:
med_odds.set_index('Team',inplace=True)

In [51]:
team_full_check.head()

,at_bats,runs,hits,rbi,earned_runs,bases_on_balls,strikeouts,plate_appearances,batting_average,on_base_percentage,...,Opp_grounded_balls,Opp_fly_balls,Opp_line_drives,Opp_unknown_bat_type,Opp_game_score,Opp_inherited_runners,Opp_inherited_score,Opp_win_probability_by_pitcher,Opp_base_out_runs_saved,name
date,,,,,,,,,,,,,,,,,,,,,
2017-04-10,36,8,10,8,6.75,1,7,37,0.278,0.297,...,9,8,1,0,54,1.0,1.0,-0.054,-3.6,LAD
2017-04-12,34,8,8,6,4.50,5,1,39,0.235,0.333,...,11,13,8,0,54,7.0,4.0,-0.435,-3.6,LAD
2017-04-13,29,3,7,3,3.38,5,7,34,0.241,0.353,...,6,12,6,0,60,1.0,1.0,-0.034,1.4,LAD
2017-04-14,32,4,9,3,3.38,4,10,36,0.281,0.361,...,11,13,4,0,46,0.0,0.0,-0.046,0.4,LAD
2017-04-15,31,3,5,2,2.25,8,17,39,0.161,0.333,...,9,13,7,0,53,1.0,0.0,0.027,1.4,LAD

In [52]:
med_odds.loc['ARI','Median_odds']

114.0

In [53]:
med_odds=med_odds.rename({'LOS':'LAD','CUB':'CHC','CWS':'CHW','KAN':'KCR','SDG':'SDP','SFO':'SFG','TAM':'TBR'})

In [54]:
team_full_check = team_full_check.groupby('name').mean().reset_index()

In [55]:
team_full_check

,name,at_bats,runs,hits,rbi,earned_runs,bases_on_balls,strikeouts,plate_appearances,batting_average,...,Opp_strikes_looking,Opp_grounded_balls,Opp_fly_balls,Opp_line_drives,Opp_unknown_bat_type,Opp_game_score,Opp_inherited_runners,Opp_inherited_score,Opp_win_probability_by_pitcher,Opp_base_out_runs_saved
0,LAD,34.530864,5.296296,9.030864,5.067901,4.884877,3.802469,8.555556,39.222222,0.25708,...,25.030864,11.487654,12.993827,6.006173,0.0,48.302469,1.950311,0.571429,-0.016685,-0.554321

### Build reusable Function

In [69]:
def team_regular_season(df,team,average=True,num=162):
    #Set year range for what games you want to access
    #Rename columns to avoid deletetion later
    df=df.rename(columns={'home_home_runs':'home_HR','away_home_runs':'away_HR'})
    
        #Get all the home winner and away winner games alone
    Home = df[(df['winner'] == 'Home')] 
    Away= df[(df['winner'] == 'Away')]
    
        #Get games where the team was the home team
    home_wins=Home[(Home['winning_abbr'] == team)]
    home_loss=Away[(Away['losing_abbr'] == team)]
    home_games= pd.concat([home_wins,home_loss])
    home_offense = home_games.filter(like = 'home')
    
      #Get games where the team was the away team
    away_wins=Away[(Away['winning_abbr']==team)]
    away_loss=Home[(Home['losing_abbr']==team)]
    away_games= pd.concat([away_wins,away_loss])
    away_offense = away_games.filter(like = 'away')
    
        # split the dataframes to only have the statistics of the given team
    home_offense.columns = home_offense.columns.str.replace('home_','')
    away_offense.columns = away_offense.columns.str.replace('away_','')
    
    #combine offensive stats into one df
    team_offense = pd.concat([home_offense, away_offense])
    
        # create oppposing team statistics from the given games
    home_games_opponents = home_games.filter(like = 'away')
    away_games_opponents = away_games.filter(like = 'home')
    
        # rename the columns from the opponent statistics dataframes
    home_games_opponents.columns = home_games_opponents.columns.str.replace('away_','')
    away_games_opponents.columns = away_games_opponents.columns.str.replace('home_','')
    
    team_opponents= pd.concat([home_games_opponents,away_games_opponents])
    
        # concat the team stats and the opponent stats to create a full picture of the team's season
    team_full = pd.concat([team_offense, team_opponents.add_prefix('Opp_')], axis = 1)
    team_full = team_full.assign(name=team)
    
    # Certain teams only played 161 games this season and therefor need different number
#     club_161=['DET','CLE','MIA','ATL']
#     if team in club_161:
#         num=161
#     else:
#         num=162
#     add= ((team,)*num)
#     team_full['name']= add
    
    
        # return either the season averages or the game by game statistics
    if average:
            team_full = team_full.groupby('name').mean().reset_index()
    
    team_full['median_odds']= med_odds.loc[team,'Median_odds']
    
    return team_full

In [70]:
#Check unique names
df.winning_abbr.unique()

array(['TBR', 'ARI', 'STL', 'WSN', 'NYM', 'BOS', 'COL', 'BAL', 'PHI',
       'LAD', 'MIN', 'CLE', 'HOU', 'OAK', 'DET', 'NYY', 'CHC', 'SFG',
       'LAA', 'SDP', 'CIN', 'ATL', 'MIL', 'CHW', 'MIA', 'TOR', 'SEA',
       'PIT', 'TEX', 'KCR'], dtype=object)

In [71]:
#Below examined that each teams abbr was working in the function including the 161 teams
dodgers_16=team_regular_season(df,'LAD')

In [72]:
dodgers_16

,name,at_bats,runs,hits,rbi,earned_runs,bases_on_balls,strikeouts,plate_appearances,batting_average,...,Opp_grounded_balls,Opp_fly_balls,Opp_line_drives,Opp_unknown_bat_type,Opp_game_score,Opp_inherited_runners,Opp_inherited_score,Opp_win_probability_by_pitcher,Opp_base_out_runs_saved,median_odds
0,LAD,33.382716,4.753086,8.314815,4.506173,4.73,4.006173,8.518519,38.216049,0.245833,...,10.746914,13.314815,6.098765,0.0,50.0,1.333333,0.444444,-0.041759,-0.278395,-148.0

### Single Game Function Walkthrough to find/fix bugs

In [73]:
#create regular seasons using yankees and mets as our example
yanks_16=team_regular_season(df,'NYY')
mets_16=team_regular_season(df,'NYM')

In [74]:
#Concat them as if they are playing against one another 
pd.concat([yanks_16, mets_16])

,name,at_bats,runs,hits,rbi,earned_runs,bases_on_balls,strikeouts,plate_appearances,batting_average,...,Opp_grounded_balls,Opp_fly_balls,Opp_line_drives,Opp_unknown_bat_type,Opp_game_score,Opp_inherited_runners,Opp_inherited_score,Opp_win_probability_by_pitcher,Opp_base_out_runs_saved,median_odds
0,NYY,34.530864,5.296296,9.030864,5.067901,4.884877,3.802469,8.555556,39.222222,0.257080,...,11.487654,12.993827,6.006173,0.0,48.302469,1.950311,0.571429,-0.016685,-0.554321,-105.0
0,NYM,34.012346,4.537037,8.512346,4.401235,4.308272,3.265432,7.969136,38.080247,0.244512,...,12.438272,14.475309,6.679012,0.0,50.240741,1.173913,0.378882,0.013154,-0.071605,-123.0

In [75]:
#Try this as we may prefer it to all be in one row
pd.concat([yanks_16.add_prefix('H_'), mets_16.add_prefix('A_')], axis = 1)

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,A_median_odds
0,NYY,34.530864,5.296296,9.030864,5.067901,4.884877,3.802469,8.555556,39.222222,0.25708,...,12.438272,14.475309,6.679012,0.0,50.240741,1.173913,0.378882,0.013154,-0.071605,-123.0

### Build Reusable Function

In [76]:
def single_game(team1_name, team2_name,df=df):
    
    # from the Team abbreviations get a dataframe with the average seasonlong team statistics.
    team1 = team_regular_season(df,team1_name)
    team2 = team_regular_season(df,team2_name)
    
    #make the single game by concating those dataframes
    game = pd.concat([team1.add_prefix('H_'), team2.add_prefix('A_')], axis = 1)
    
    return game

In [77]:
#test it using subway series again
subway=single_game('NYY','NYM',df)
subway

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,A_median_odds
0,NYY,34.530864,5.296296,9.030864,5.067901,4.884877,3.802469,8.555556,39.222222,0.25708,...,12.438272,14.475309,6.679012,0.0,50.240741,1.173913,0.378882,0.013154,-0.071605,-123.0

###  Create Season Function Walkthrough to Find Bugs

In [128]:
#df_16.drop(['index','level_0'],axis=1,inplace=True)

In [78]:
#Reset the index
df_17.reset_index(inplace=True)

In [79]:
# season_df for 2016 season
#season_df = df_17[df_16['date'] >= '2016-4-3']

In [80]:
#season_df

In the cells below I will try and alter the dataframes so rather than tellin us the winning and losing name it will return the names of the home or away team

In [81]:
#Get home winners and Away winners in their own dataframe
Home = df_17[(df_17['winner'] == 'Home')] 
Away= df_17[(df_17['winner'] == 'Away')]

In [82]:
#Rename columns in the home win from winner and loser to home and away
Home=Home.rename(columns={'winning_abbr':'home_abbr','winning_name':'home_name','losing_name':'away_name',
                         'losing_abbr':'away_abbr'})

In [83]:
#Rename columns in the away win from winner and loser to home and away
Away= Away.rename(columns={'winning_abbr':'away_abbr','winning_name':'away_name','losing_name':'home_name',
                         'losing_abbr':'home_abbr'})

In [85]:
#Concat these to make season_df now the same but with these new column names
df_17= pd.concat([Home,Away])

In [86]:
#Get Home and away alone once again
Home = df_17[(df_17['winner'] == 'Home')] 
Away= df_17[(df_17['winner'] == 'Away')]

In [87]:
#Create a winning abbreviation column
Home['winning_abbr']= Home['home_abbr']
Away['winning_abbr']= Away['away_abbr']

<ipython-input-87-12da05963abd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Home['winning_abbr']= Home['home_abbr']
<ipython-input-87-12da05963abd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Away['winning_abbr']= Away['away_abbr']

In [88]:
#Concat to update season_df
df_17=pd.concat([Home,Away])

In [89]:
#make it sorted in order of date
df_17=df_17.sort_values('date')

In [90]:
df_17.head()

,date,time,venue,attendance,duration,time_of_day,winner,home_name,home_abbr,away_name,...,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved,winning_abbr
0,2017-04-02,1:12 p.m. Local,Tropicana Field,31042.0,3:21,Day,Home,Tampa Bay Rays,TBR,New York Yankees,...,13,14,7,0,59,3.0,1.0,0.074,1.6,TBR
1,2017-04-02,1:10 p.m. Local,Chase Field,49016.0,3:23,Day,Home,Arizona Diamondbacks,ARI,San Francisco Giants,...,14,12,6,0,53,1.0,0.0,-0.358,0.0,ARI
2,2017-04-02,7:38 p.m. Local,Busch Stadium III,47566.0,3:33,Night,Home,St. Louis Cardinals,STL,Chicago Cubs,...,11,17,12,0,76,2.0,0.0,0.257,1.6,STL
11,2017-04-03,6:10 p.m. Local,Globe Life Park in Arlington,48350.0,3:21,Night,Away,Texas Rangers,TEX,Cleveland Indians,...,7,15,11,0,48,2.0,0.0,-0.470,-2.8,CLE
6,2017-04-03,1:11 p.m. Local,Miller Park,43336.0,3:26,Day,Away,Milwaukee Brewers,MIL,Colorado Rockies,...,9,9,6,0,53,3.0,2.0,-0.432,-2.3,COL

In [91]:
# create a list with the two teams, home team always first, the season, and the day number of the game
matchups = list(zip(df_17.home_abbr, df_17.away_abbr, df_17.date, df_17.winning_abbr))

In [92]:
#Check matchups
matchups[-2]

('BOS', 'HOU', Timestamp('2017-10-01 00:00:00'), 'HOU')

In [93]:
#empty season_games list
season_games = []

In [94]:
med_odds=med_odds.rename({'WAS':'WSN'})

In [95]:
med_odds.loc['WSN','Median_odds']

-155.0

In [96]:
#loop through matchups and create single games for each matchup using that function, then append to season games
for team in matchups:
        game = single_game(team[0], team[1],df)
        season_games.append(game)

In [97]:
#create df_prep as a example for what will hopefully happen in a function
df_prep = pd.concat(season_games, axis = 0)

In [98]:
#reset_index
df_prep.reset_index(inplace = True, drop = True)

In [99]:
df_prep

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,A_median_odds
0,TBR,33.814815,4.283951,8.271605,4.141975,4.117840,3.364198,9.493827,37.944444,0.239617,...,11.487654,12.993827,6.006173,0.000000,48.302469,1.950311,0.571429,-0.016685,-0.554321,-105.0
1,ARI,34.104938,5.012346,8.672840,4.790123,4.939444,3.567901,8.987654,38.419753,0.249259,...,12.345679,15.500000,7.487654,0.024691,53.462963,1.455128,0.333333,0.088105,0.733951,-124.0
2,STL,33.765432,4.697531,8.654321,4.493827,4.486728,3.660494,8.320988,38.388889,0.252457,...,11.839506,13.160494,6.592593,0.006173,49.012346,1.453416,0.472050,-0.011130,-0.415432,-176.0
3,TEX,33.518519,4.932099,8.185185,4.666667,4.781358,3.358025,9.216049,37.790123,0.240247,...,10.629630,12.833333,6.487654,0.000000,46.456790,1.867925,0.547170,0.008123,-0.301852,-133.0
4,MIL,33.691358,4.444444,8.351852,4.216049,4.273951,3.271605,9.697531,37.703704,0.243426,...,13.265432,13.413580,6.629630,0.018519,46.876543,1.465839,0.472050,0.015272,-0.198765,111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,SFG,34.265432,3.944444,8.530864,3.777778,3.593889,2.882716,7.432099,37.882716,0.243852,...,12.685185,13.333333,6.030864,0.024691,54.895062,1.161290,0.245161,0.042457,0.791358,139.0
2426,LAA,33.425926,4.382716,8.111111,4.185185,4.071914,3.228395,7.395062,37.487654,0.237475,...,11.166667,15.641975,6.697531,0.000000,49.648148,1.597484,0.471698,-0.007210,-0.064198,-116.0
2427,CLE,34.018519,5.049383,8.944444,4.814815,4.994383,3.728395,7.117284,38.481481,0.256154,...,11.395062,15.160494,6.734568,0.018519,51.080247,1.343949,0.292994,0.041198,0.259259,-102.0
2428,BOS,34.993827,4.845679,9.018519,4.537037,4.422037,3.524691,7.555556,39.148148,0.252994,...,11.654321,12.549383,5.950617,0.000000,46.932099,1.549383,0.586420,-0.084173,-1.018519,-124.0
2429,CHC,33.925926,5.074074,8.654321,4.845679,4.890247,3.839506,8.648148,38.783951,0.249500,...,12.320988,14.111111,6.382716,0.012346,49.932099,1.290123,0.450617,0.037358,-0.018519,131.0

In [100]:
df_prep.drop(['H_median_odds','A_median_odds'],axis=1,inplace=True)

In [101]:
#Create new column where it will have a 1 if home team won and 0 if away team won
df_prep['home_win'] = np.where(df_17.home_abbr ==df_17.winning_abbr,
                  [1],
                  [0])

In [163]:
#season_df['home_win'] = np.where(season_df.home_name == season_df.winning_abbr,1,0)

In [102]:
df_prep

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,TBR,33.814815,4.283951,8.271605,4.141975,4.117840,3.364198,9.493827,37.944444,0.239617,...,11.487654,12.993827,6.006173,0.000000,48.302469,1.950311,0.571429,-0.016685,-0.554321,1
1,ARI,34.104938,5.012346,8.672840,4.790123,4.939444,3.567901,8.987654,38.419753,0.249259,...,12.345679,15.500000,7.487654,0.024691,53.462963,1.455128,0.333333,0.088105,0.733951,1
2,STL,33.765432,4.697531,8.654321,4.493827,4.486728,3.660494,8.320988,38.388889,0.252457,...,11.839506,13.160494,6.592593,0.006173,49.012346,1.453416,0.472050,-0.011130,-0.415432,1
3,TEX,33.518519,4.932099,8.185185,4.666667,4.781358,3.358025,9.216049,37.790123,0.240247,...,10.629630,12.833333,6.487654,0.000000,46.456790,1.867925,0.547170,0.008123,-0.301852,0
4,MIL,33.691358,4.444444,8.351852,4.216049,4.273951,3.271605,9.697531,37.703704,0.243426,...,13.265432,13.413580,6.629630,0.018519,46.876543,1.465839,0.472050,0.015272,-0.198765,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,SFG,34.265432,3.944444,8.530864,3.777778,3.593889,2.882716,7.432099,37.882716,0.243852,...,12.685185,13.333333,6.030864,0.024691,54.895062,1.161290,0.245161,0.042457,0.791358,1
2426,LAA,33.425926,4.382716,8.111111,4.185185,4.071914,3.228395,7.395062,37.487654,0.237475,...,11.166667,15.641975,6.697531,0.000000,49.648148,1.597484,0.471698,-0.007210,-0.064198,1
2427,CLE,34.018519,5.049383,8.944444,4.814815,4.994383,3.728395,7.117284,38.481481,0.256154,...,11.395062,15.160494,6.734568,0.018519,51.080247,1.343949,0.292994,0.041198,0.259259,1
2428,BOS,34.993827,4.845679,9.018519,4.537037,4.422037,3.524691,7.555556,39.148148,0.252994,...,11.654321,12.549383,5.950617,0.000000,46.932099,1.549383,0.586420,-0.084173,-1.018519,0
2429,CHC,33.925926,5.074074,8.654321,4.845679,4.890247,3.839506,8.648148,38.783951,0.249500,...,12.320988,14.111111,6.382716,0.012346,49.932099,1.290123,0.450617,0.037358,-0.018519,0

In [103]:
#Examine our new column
df_prep.home_win.value_counts(normalize=True)

1    0.539506
0    0.460494
Name: home_win, dtype: float64

In [104]:
df_prep

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,TBR,33.814815,4.283951,8.271605,4.141975,4.117840,3.364198,9.493827,37.944444,0.239617,...,11.487654,12.993827,6.006173,0.000000,48.302469,1.950311,0.571429,-0.016685,-0.554321,1
1,ARI,34.104938,5.012346,8.672840,4.790123,4.939444,3.567901,8.987654,38.419753,0.249259,...,12.345679,15.500000,7.487654,0.024691,53.462963,1.455128,0.333333,0.088105,0.733951,1
2,STL,33.765432,4.697531,8.654321,4.493827,4.486728,3.660494,8.320988,38.388889,0.252457,...,11.839506,13.160494,6.592593,0.006173,49.012346,1.453416,0.472050,-0.011130,-0.415432,1
3,TEX,33.518519,4.932099,8.185185,4.666667,4.781358,3.358025,9.216049,37.790123,0.240247,...,10.629630,12.833333,6.487654,0.000000,46.456790,1.867925,0.547170,0.008123,-0.301852,0
4,MIL,33.691358,4.444444,8.351852,4.216049,4.273951,3.271605,9.697531,37.703704,0.243426,...,13.265432,13.413580,6.629630,0.018519,46.876543,1.465839,0.472050,0.015272,-0.198765,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,SFG,34.265432,3.944444,8.530864,3.777778,3.593889,2.882716,7.432099,37.882716,0.243852,...,12.685185,13.333333,6.030864,0.024691,54.895062,1.161290,0.245161,0.042457,0.791358,1
2426,LAA,33.425926,4.382716,8.111111,4.185185,4.071914,3.228395,7.395062,37.487654,0.237475,...,11.166667,15.641975,6.697531,0.000000,49.648148,1.597484,0.471698,-0.007210,-0.064198,1
2427,CLE,34.018519,5.049383,8.944444,4.814815,4.994383,3.728395,7.117284,38.481481,0.256154,...,11.395062,15.160494,6.734568,0.018519,51.080247,1.343949,0.292994,0.041198,0.259259,1
2428,BOS,34.993827,4.845679,9.018519,4.537037,4.422037,3.524691,7.555556,39.148148,0.252994,...,11.654321,12.549383,5.950617,0.000000,46.932099,1.549383,0.586420,-0.084173,-1.018519,0
2429,CHC,33.925926,5.074074,8.654321,4.845679,4.890247,3.839506,8.648148,38.783951,0.249500,...,12.320988,14.111111,6.382716,0.012346,49.932099,1.290123,0.450617,0.037358,-0.018519,0


***

In [187]:
#df_16.drop(['index'],axis=1,inplace=True)

In [121]:
#df_16.set_index('date',inplace=True)

In [105]:
df_17.head()

,date,time,venue,attendance,duration,time_of_day,winner,home_name,home_abbr,away_name,...,home_grounded_balls,home_fly_balls,home_line_drives,home_unknown_bat_type,home_game_score,home_inherited_runners,home_inherited_score,home_win_probability_by_pitcher,home_base_out_runs_saved,winning_abbr
0,2017-04-02,1:12 p.m. Local,Tropicana Field,31042.0,3:21,Day,Home,Tampa Bay Rays,TBR,New York Yankees,...,13,14,7,0,59,3.0,1.0,0.074,1.6,TBR
1,2017-04-02,1:10 p.m. Local,Chase Field,49016.0,3:23,Day,Home,Arizona Diamondbacks,ARI,San Francisco Giants,...,14,12,6,0,53,1.0,0.0,-0.358,0.0,ARI
2,2017-04-02,7:38 p.m. Local,Busch Stadium III,47566.0,3:33,Night,Home,St. Louis Cardinals,STL,Chicago Cubs,...,11,17,12,0,76,2.0,0.0,0.257,1.6,STL
11,2017-04-03,6:10 p.m. Local,Globe Life Park in Arlington,48350.0,3:21,Night,Away,Texas Rangers,TEX,Cleveland Indians,...,7,15,11,0,48,2.0,0.0,-0.470,-2.8,CLE
6,2017-04-03,1:11 p.m. Local,Miller Park,43336.0,3:26,Day,Away,Milwaukee Brewers,MIL,Colorado Rockies,...,9,9,6,0,53,3.0,2.0,-0.432,-2.3,COL

In [107]:
df_17.set_index('date',inplace=True)

### Create Season Dataframe

In [108]:
def create_season_df(df):
    
    #Reset the index
    df.reset_index(inplace=True)
  
    # create a DataFrame for the season we are looking for
    # season_df for whatever season you are looking for
    #season_df = df[df['date'] >= date]
    #reset index
    #season_df.reset_index(inplace = True)
    
    #Get home winners and Away winners in their own dataframe
    Home = df[(df['winner'] == 'Home')] 
    Away= df[(df['winner'] == 'Away')]
    
    #Rename columns in the home win from winner and loser to home and away
    Home=Home.rename(columns={'winning_abbr':'home_abbr','winning_name':'home_name','losing_name':'away_name',
                         'losing_abbr':'away_abbr'})
    
    #Rename columns in the away win from winner and loser to home and away
    Away= Away.rename(columns={'winning_abbr':'away_abbr','winning_name':'away_name','losing_name':'home_name',
                         'losing_abbr':'home_abbr'})
    
    #Concat these to make season_df now the same but with these new column names
    df= pd.concat([Home,Away])
    
    #Get Home and away alone once again
    Home = df[(df['winner'] == 'Home')] 
    Away= df[(df['winner'] == 'Away')]
    
    #Create a winning abbreviation column
    Home['winning_abbr']= Home['home_abbr']
    Away['winning_abbr']= Away['away_abbr']
    
    #Concat to update season_df
    df=pd.concat([Home,Away])
    
    #order it by date again
    df=df.sort_values('date')
    
    
    # create a list with the two teams, home team always first, the season, and the day number of the game
    matchups = list(zip(df.home_abbr, df.away_abbr, df.date, df.winning_abbr))
    
    season_games = [] 

    #loop through matchups and create single games for each matchup using that function, then append to season games
    for team in matchups:
        game = single_game(team[0], team[1],df)
        season_games.append(game)
    
    # from the season games list concatenate all the outputted DataFrames and insert the location
    # of the winner (home(1), away(0))
    df = pd.concat(season_games, axis = 0)
    #reset_index
    df.reset_index(inplace = True, drop = True)
    #Create new column where it will have a 1 if home team won and 0 if away team won
    df['home_win'] = np.where(df.home_abbr ==df.winning_abbr,
                  [1],
                  [0])
                       
    return df

In [109]:
season_2017=create_season_df(df_17)

AssertionError: Number of manager items must equal union of block items
# manager items: 81, # tot_items: 82

In [195]:
season_2016.head(10)

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,A_median_odds,home_win
0,PIT,34.209877,4.500000,8.802469,4.296296,4.191914,3.462963,8.234568,38.648148,0.252074,...,13.111111,6.827160,0.006173,51.438272,1.440994,0.515528,-0.040438,-0.433333,-131.0,1
1,KCR,34.271605,4.166667,8.950617,3.950617,3.969568,2.358025,7.555556,37.358025,0.256889,...,13.851852,6.907407,0.000000,52.382716,1.493750,0.318750,0.035586,0.180864,-123.0,1
2,TBR,33.833333,4.148148,8.228395,3.993827,4.000864,2.771605,9.148148,37.320988,0.237667,...,13.808642,6.240741,0.006173,50.950617,1.543210,0.493827,0.008802,-0.098765,-141.0,0
3,OAK,33.950617,4.030864,8.345679,3.913580,3.778580,2.728395,7.067901,37.172840,0.239728,...,14.907407,7.006173,0.006173,51.216049,1.367089,0.360759,0.009222,0.217284,-102.0,0
4,ARI,34.969136,4.641975,9.129630,4.376543,4.270370,2.858025,8.808642,38.641975,0.254932,...,13.481481,7.308642,0.006173,47.030864,1.559006,0.552795,-0.033364,-0.499383,111.0,0
5,TBR,33.833333,4.148148,8.228395,3.993827,4.000864,2.771605,9.148148,37.320988,0.237667,...,13.808642,6.240741,0.006173,50.950617,1.543210,0.493827,0.008802,-0.098765,-141.0,0
6,SDP,33.450617,4.234568,7.870370,4.037037,4.000432,2.771605,9.259259,37.043210,0.229815,...,13.672840,6.462963,0.000000,50.617284,1.465409,0.496855,-0.009241,-0.120370,-148.0,0
7,ATL,34.248447,4.031056,8.720497,3.819876,3.707019,3.118012,7.701863,38.459627,0.250807,...,13.641975,6.604938,0.000000,48.685185,1.425000,0.462500,-0.027525,-0.255556,-155.0,0
8,MIL,32.901235,4.141975,8.018519,3.956790,4.028457,3.697531,9.524691,37.413580,0.239117,...,13.975309,6.709877,0.006173,50.462963,1.628931,0.572327,0.020198,-0.025309,-124.0,0
9,LAA,33.524691,4.425926,8.703704,4.234568,4.204444,2.907407,6.117284,37.290123,0.253123,...,12.506173,6.197531,0.006173,48.333333,1.428571,0.416149,-0.026568,-0.600000,-176.0,0

In [247]:
season_2016.head(10)

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,PIT,34.209877,4.500000,8.802469,4.296296,4.191914,3.462963,8.234568,38.648148,0.252074,...,13.777778,13.111111,6.827160,0.006173,51.438272,1.440994,0.515528,-0.040438,-0.433333,1
1,KCR,34.271605,4.166667,8.950617,3.950617,3.969568,2.358025,7.555556,37.358025,0.256889,...,12.104938,13.851852,6.907407,0.000000,52.382716,1.493750,0.318750,0.035586,0.180864,1
2,TBR,33.833333,4.148148,8.228395,3.993827,4.000864,2.771605,9.148148,37.320988,0.237667,...,12.598765,13.808642,6.240741,0.006173,50.950617,1.543210,0.493827,0.008802,-0.098765,0
3,OAK,33.950617,4.030864,8.345679,3.913580,3.778580,2.728395,7.067901,37.172840,0.239728,...,11.833333,14.907407,7.006173,0.006173,51.216049,1.367089,0.360759,0.009222,0.217284,0
4,ARI,34.969136,4.641975,9.129630,4.376543,4.270370,2.858025,8.808642,38.641975,0.254932,...,13.969136,13.481481,7.308642,0.006173,47.030864,1.559006,0.552795,-0.033364,-0.499383,0
5,TBR,33.833333,4.148148,8.228395,3.993827,4.000864,2.771605,9.148148,37.320988,0.237667,...,12.598765,13.808642,6.240741,0.006173,50.950617,1.543210,0.493827,0.008802,-0.098765,0
6,SDP,33.450617,4.234568,7.870370,4.037037,4.000432,2.771605,9.259259,37.043210,0.229815,...,10.956790,13.672840,6.462963,0.000000,50.617284,1.465409,0.496855,-0.009241,-0.120370,0
7,ATL,34.248447,4.031056,8.720497,3.819876,3.707019,3.118012,7.701863,38.459627,0.250807,...,11.327160,13.641975,6.604938,0.000000,48.685185,1.425000,0.462500,-0.027525,-0.255556,0
8,MIL,32.901235,4.141975,8.018519,3.956790,4.028457,3.697531,9.524691,37.413580,0.239117,...,12.358025,13.975309,6.709877,0.006173,50.462963,1.628931,0.572327,0.020198,-0.025309,0
9,LAA,33.524691,4.425926,8.703704,4.234568,4.204444,2.907407,6.117284,37.290123,0.253123,...,11.833333,12.506173,6.197531,0.006173,48.333333,1.428571,0.416149,-0.026568,-0.600000,0

In [196]:
#season_2016.to_csv('data/Season_2016_with_odds.csv')

## Create a new column called fav win

In [110]:
season_2017=df_prep

In [111]:
season_2017

,H_name,H_at_bats,H_runs,H_hits,H_rbi,H_earned_runs,H_bases_on_balls,H_strikeouts,H_plate_appearances,H_batting_average,...,A_Opp_grounded_balls,A_Opp_fly_balls,A_Opp_line_drives,A_Opp_unknown_bat_type,A_Opp_game_score,A_Opp_inherited_runners,A_Opp_inherited_score,A_Opp_win_probability_by_pitcher,A_Opp_base_out_runs_saved,home_win
0,TBR,33.814815,4.283951,8.271605,4.141975,4.117840,3.364198,9.493827,37.944444,0.239617,...,11.487654,12.993827,6.006173,0.000000,48.302469,1.950311,0.571429,-0.016685,-0.554321,1
1,ARI,34.104938,5.012346,8.672840,4.790123,4.939444,3.567901,8.987654,38.419753,0.249259,...,12.345679,15.500000,7.487654,0.024691,53.462963,1.455128,0.333333,0.088105,0.733951,1
2,STL,33.765432,4.697531,8.654321,4.493827,4.486728,3.660494,8.320988,38.388889,0.252457,...,11.839506,13.160494,6.592593,0.006173,49.012346,1.453416,0.472050,-0.011130,-0.415432,1
3,TEX,33.518519,4.932099,8.185185,4.666667,4.781358,3.358025,9.216049,37.790123,0.240247,...,10.629630,12.833333,6.487654,0.000000,46.456790,1.867925,0.547170,0.008123,-0.301852,0
4,MIL,33.691358,4.444444,8.351852,4.216049,4.273951,3.271605,9.697531,37.703704,0.243426,...,13.265432,13.413580,6.629630,0.018519,46.876543,1.465839,0.472050,0.015272,-0.198765,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,SFG,34.265432,3.944444,8.530864,3.777778,3.593889,2.882716,7.432099,37.882716,0.243852,...,12.685185,13.333333,6.030864,0.024691,54.895062,1.161290,0.245161,0.042457,0.791358,1
2426,LAA,33.425926,4.382716,8.111111,4.185185,4.071914,3.228395,7.395062,37.487654,0.237475,...,11.166667,15.641975,6.697531,0.000000,49.648148,1.597484,0.471698,-0.007210,-0.064198,1
2427,CLE,34.018519,5.049383,8.944444,4.814815,4.994383,3.728395,7.117284,38.481481,0.256154,...,11.395062,15.160494,6.734568,0.018519,51.080247,1.343949,0.292994,0.041198,0.259259,1
2428,BOS,34.993827,4.845679,9.018519,4.537037,4.422037,3.524691,7.555556,39.148148,0.252994,...,11.654321,12.549383,5.950617,0.000000,46.932099,1.549383,0.586420,-0.084173,-1.018519,0
2429,CHC,33.925926,5.074074,8.654321,4.845679,4.890247,3.839506,8.648148,38.783951,0.249500,...,12.320988,14.111111,6.382716,0.012346,49.932099,1.290123,0.450617,0.037358,-0.018519,0

In [114]:
season_2017.to_csv('Season_2017.csv')

# SEPERATE DATA, NOT HERE YET

In [26]:
pip install pybaseball

Collecting pybaseball
  Downloading pybaseball-2.2.1-py3-none-any.whl (415 kB)
     |████████████████████████████████| 415 kB 1.8 MB/s eta 0:00:01     |█████████████████████████████▏  | 378 kB 1.8 MB/s eta 0:00:01
Requirement already satisfied: tqdm>=4.50.0 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (4.50.2)
Requirement already satisfied: scipy>=1.4.0 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (1.5.2)
Collecting attrs>=20.3.0
  Downloading attrs-21.4.0-py2.py3-none-any.whl (60 kB)
     |████████████████████████████████| 60 kB 2.1 MB/s eta 0:00:01
Requirement already satisfied: matplotlib>=2.0.0 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (3.3.1)
Requirement already satisfied: pyarrow>=1.0.1 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (1.0.1)
Collecting pygithub>=1.51
  Downloading PyGithub-1.55-py3-none-any.whl (291 kB)
     |████████████████████████████████| 291 kB 1.3 MB/s eta 0:00:01
Requirement already satisfied: beautifulsoup4>=4.4.0 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (4.9.3)
Requirement already satisfied: numpy>=1.13.0 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (1.18.5)
Requirement already satisfied: lxml>=4.2.1 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (4.5.2)
Requirement already satisfied: requests>=2.18.1 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (2.24.0)
Requirement already satisfied: pandas>=1.0.3 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pybaseball) (1.1.3)
Requirement already satisfied: python-dateutil>=2.1 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (2020.6.20)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (7.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from matplotlib>=2.0.0->pybaseball) (1.2.0)
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting pynacl>=1.4.0
  Downloading PyNaCl-1.5.0.tar.gz (3.4 MB)
     |████████████████████████████████| 3.4 MB 2.0 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Collecting pyjwt>=2.0
  Downloading PyJWT-2.3.0-py3-none-any.whl (16 kB)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from beautifulsoup4>=4.4.0->pybaseball) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests>=2.18.1->pybaseball) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests>=2.18.1->pybaseball) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from requests>=2.18.1->pybaseball) (2.10)
Requirement already satisfied: pytz>=2017.2 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pandas>=1.0.3->pybaseball) (2020.1)
Requirement already satisfied: six>=1.5 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from python-dateutil>=2.1->matplotlib>=2.0.0->pybaseball) (1.15.0)
Requirement already satisfied: wrapt<2,>=1.10 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from deprecated->pygithub>=1.51->pybaseball) (1.12.1)
Requirement already satisfied: cffi>=1.4.1 in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from pynacl>=1.4.0->pygithub>=1.51->pybaseball) (1.14.3)
Requirement already satisfied: pycparser in /Users/matthewreinhart/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages (from cffi>=1.4.1->pynacl>=1.4.0->pygithub>=1.51->pybaseball) (2.20)
Building wheels for collected packages: pynacl
  Building wheel for pynacl (PEP 517) ... done
  Created wheel for pynacl: filename=PyNaCl-1.5.0-cp38-cp38-macosx_10_9_x86_64.whl size=102808 sha256=ba7732b5ff1aa5f86f10699f646ae2b2cd2e5df57580927649a6433a20958b95
  Stored in directory: /Users/matthewreinhart/Library/Caches/pip/wheels/3e/4c/46/6bbb66a5a15a3fa4e336d680ccc6a4ebd556d087d38945ce17
Successfully built pynacl
Installing collected packages: attrs, deprecated, pynacl, pyjwt, pygithub, pybaseball
  Attempting uninstall: attrs
    Found existing installation: attrs 20.2.0
    Uninstalling attrs-20.2.0:
      Successfully uninstalled attrs-20.2.0
Successfully installed attrs-21.4.0 deprecated-1.2.13 pybaseball-2.2.1 pygithub-1.55 pyjwt-2.3.0 pynacl-1.5.0
Note: you may need to restart the kernel to use updated packages.

In [27]:
from pybaseball import statcast

In [28]:
from pybaseball import schedule_and_record

In [58]:
nyy_data = schedule_and_record(2019,'NYY')

In [59]:
nyy_data.Opp.value_counts()

TOR    19
BAL    19
BOS    19
TBR    19
SEA     7
HOU     7
CHW     7
KCR     7
CLE     7
LAA     7
DET     6
TEX     6
OAK     6
MIN     6
NYM     4
ARI     4
COL     3
SDP     3
SFG     3
LAD     3
Name: Opp, dtype: int64

In [73]:
yanks_opp=list(nyy_data.Opp.unique())

In [74]:
nym_data=schedule_and_record(2019,'NYM')

In [75]:
mets_opp=list(nym_data.Opp.unique())

In [76]:
yanks_opp

['BAL',
 'DET',
 'HOU',
 'CHW',
 'BOS',
 'KCR',
 'LAA',
 'SFG',
 'ARI',
 'MIN',
 'SEA',
 'TBR',
 'SDP',
 'TOR',
 'CLE',
 'NYM',
 'COL',
 'OAK',
 'LAD',
 'TEX']

In [77]:
mets_opp

['WSN',
 'MIA',
 'MIN',
 'ATL',
 'PHI',
 'STL',
 'MIL',
 'CIN',
 'SDP',
 'DET',
 'LAD',
 'ARI',
 'SFG',
 'COL',
 'NYY',
 'CHC',
 'PIT',
 'CHW',
 'KCR',
 'CLE']

In [78]:
yanks_opp.append(mets_opp)

In [82]:
all_opp=['BAL','DET','HOU','CHW','BOS','KCR','LAA','SFG','ARI','MIN','SEA','TBR','SDP','TOR','CLE',
 'NYM','COL','OAK','LAD','TEX','WSN','MIA', 'MIN', 'ATL', 'PHI', 'STL', 'MIL',
  'CIN', 'SDP','DET','LAD', 'ARI','SFG','COL','NYY','CHC','PIT', 'CHW',
  'KCR', 'CLE']

In [83]:
len(all_opp)

40

In [86]:
len(set(all_opp))

30

In [87]:
all_teams=list(set(all_opp))

In [88]:
len(all_teams)

30

In [97]:
pd.concat([nyy_data,nym_data])

,Date,Tm,Home_Away,Opp,W/L,R,RA,Inn,W-L,Rank,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
1,"Thursday, Mar 28",NYY,Home,BAL,W,7.0,2.0,9.0,1-0,1.0,up 1.0,Tanaka,Cashner,None,3:06,D,46928.0,1.08,1,None
2,"Saturday, Mar 30",NYY,Home,BAL,L,3.0,5.0,9.0,1-1,3.0,0.5,Yacabonis,Paxton,Wright,3:24,D,42203.0,1.12,-1,None
3,"Sunday, Mar 31",NYY,Home,BAL,L,5.0,7.0,9.0,1-2,4.0,1.5,Means,Happ,Fry,3:48,D,38419.0,1.04,-2,None
4,"Monday, Apr 1",NYY,Home,DET,W,3.0,1.0,9.0,2-2,3.0,1.5,German,Ross,Chapman,2:43,N,32036.0,.91,1,None
5,"Tuesday, Apr 2",NYY,Home,DET,L,1.0,3.0,9.0,2-3,3.0,2.5,Jimenez,Chapman,Greene,2:41,N,32018.0,.91,-1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,"Wednesday, Sep 25",NYM,Home,MIA,W,10.0,3.0,9.0,83-75,3.0,13.5,deGrom,Dugger,None,2:48,N,21471.0,.02,2,None
159,"Thursday, Sep 26",NYM,Home,MIA,L,2.0,4.0,9.0,83-76,3.0,14.0,Brigham,Wheeler,Urena,2:45,N,21729.0,.00,-1,None
160,"Friday, Sep 27",NYM,Home,ATL,W,4.0,2.0,9.0,84-76,3.0,13.0,Stroman,Keuchel,Lugo,3:09,N,26264.0,.00,1,None
161,"Saturday, Sep 28",NYM,Home,ATL,W,3.0,0.0,9.0,85-76,3.0,12.0,Matz,Foltynewicz,Diaz,2:33,N,32210.0,.00,2,None
162,"Sunday, Sep 29",NYM,Home,ATL,W-wo,7.0,6.0,11.0,86-76,3.0,11.0,Mazza,Dayton,None,3:44,D,31523.0,.00,3,None

In [98]:
nyy_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 1 to 162
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             162 non-null    object
 1   Tm               162 non-null    object
 2   Home_Away        162 non-null    object
 3   Opp              162 non-null    object
 4   W/L              162 non-null    object
 5   R                162 non-null    float64
 6   RA               162 non-null    float64
 7   Inn              162 non-null    float64
 8   W-L              162 non-null    object
 9   Rank             162 non-null    float64
 10  GB               162 non-null    object
 11  Win              162 non-null    object
 12  Loss             162 non-null    object
 13  Save             162 non-null    object
 14  Time             162 non-null    object
 15  D/N              162 non-null    object
 16  Attendance       159 non-null    float64
 17  cLI              162 non-null    object
 18  Streak           162 non-null    int64
 19  Orig. Scheduled  7 non-null      object
dtypes: float64(5), int64(1), object(14)
memory usage: 31.6+ KB